{% trans_default_domain 'FOSUserBundle' %}
{#{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}#}

{#{{ form_start(form, {'attr': { 'class': 'fos_user_profile_edit' } }) }}#}
{% include "FOSUserBundle:Profile:show_include_perfil_menu.html.twig" %}
{% block fos_user_content %}
    <div class="container">
    <div class="col-md-12">
        <div class="col-md-6 col-md-offset-3">
            <div class="contenedor-formulario-editar">
                <div class="contenedor-editar-titulo">
                    <h1>Cambiar mis datos</h1>
                </div>
                <div class="contenedor-validacion">
                    Los campos marcados con * son obligatorios
                </div>
                {{ form_start(form,{ 'attr':{'novalidate':'novalidate'}}) }}
                <div class="form-group">
                    {{ form_label(form.username, '*Nombre de Usuario') }}
                    {{ form_errors(form.username) }}
                    {{ form_widget(form.username,{'attr':{'class':'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.email, '*Email') }}
                    {{ form_errors(form.email) }}
                    {{ form_widget(form.email,{'attr':{'class':'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.current_password, '*Contraseña') }}
                    {{ form_errors(form.current_password) }}
                    {{ form_widget(form.current_password,{'attr':{'class':'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.nombres, '*Nombres') }}
                    {{ form_errors(form.nombres) }}
                    {{ form_widget(form.nombres,{'attr':{'class':'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.apellidos, '*Apellidos') }}
                    {{ form_errors(form.apellidos) }}
                    {{ form_widget(form.apellidos,{'attr':{'class':'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.dni, '*Dni') }}
                    {{ form_errors(form.dni) }}
                    {{ form_widget(form.dni,{'attr':{'class':'form-control'}}) }}
                </div>
                {#<div class="form-group">#}
                {#{{ form_widget(form.submit,{'attr': {'class':'btn btn-konstruye'},'label':'Actualizar Usuario'}) }}#}
                {#</div>#}
                {#{{ form_widget(form) }}#}
                <div class="form-group">
                    <input type="submit" class="btn btn-konstruye" value="{{ 'profile.edit.submit'|trans }}" />
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    </div>
{% endblock fos_user_content %}