{#{{ dump(negocios) }}#}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ asset('css/styles.css') }}">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,800italic,800,700italic,700,600italic,600' rel='stylesheet' type='text/css'>

<body class="background-negocios">

    <div class="negocios-flex">
        <div class="container">
            <div class="contenedor-negocios">

                <div class="seccion-image-logo">
                    <img src="{{ asset('images/logo-sq-white.svg') }}" alt="Logo Konstruye" width="280px">
                </div>

                <div class="seccion-perfile-negocios">

                    <div class="perfil-negocio">
                        <a class="negocios" href="{{ path('negocio_proveedor_register') }}">
                            <i class="fa fa-truck" aria-hidden="true"></i>
                            <p>Proveedor</p>
                        </a>
                    </div>
                    <div class="perfil-negocio">
                        <a class="negocios" href="{{ path('negocio_inmueble_register') }}">
                            <i class="fa fa-home" aria-hidden="true"></i>
                            <p>Compra Venta y Alquiler de Inmuebles</p>
                        </a>
                    </div>
                    <div class="perfil-negocio">
                        <a class="negocios" href="{{ path('negocio_especialista_register') }}">
                            {#<i class="fa fa-users" aria-hidden="true"></i>#}
                            <img src="{{ asset('images/esp_icon.svg') }}" alt="">
                            <p>Especialistas Servicios Personales</p>
                        </a>
                    </div>
                    <div class="perfil-negocio">
                        <a class="negocios" href="{{ path('negocio_constructura_register') }}">
                            <i class="fa fa-building-o" aria-hidden="true"></i>
                            <p>Constructoras e Inmobiliarias</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

