{#{{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}#}
<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ asset('css/styles.css') }}">
<link rel="stylesheet" href="{{ asset('css/styles_javier.css') }}">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,800italic,800,700italic,700,600italic,600' rel='stylesheet' type='text/css'>
<title>Registro Compra y Venta</title>
<body class="comprayventa">



    <div class="container">
        <div class="form-negocios">
            <div class="required">
                <p>* Campos Obligatorios</p>
            </div>

            {{ form_start(form,{ 'attr':{'novalidate':'novalidate'}}) }}
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(form.nombre,'* Nombre del Inmueble') }}
                    {{ form_errors(form.nombre) }}
                    {{ form_widget(form.nombre,{'attr':{'class':'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.direccion,'* Dirección') }}
                    {{ form_errors(form.direccion) }}
                    {{ form_widget(form.direccion,{'attr':{'class':'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.departamento,'* Departamento') }}
                    {{ form_errors(form.departamento) }}
                    {{ form_widget(form.departamento,{'attr':{'class':'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.provincia,'* Provincia') }}
                    {{ form_errors(form.provincia) }}
                    {{ form_widget(form.provincia,{'attr':{'class':'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.distrito,'* Distrito') }}
                    {{ form_errors(form.distrito) }}
                    {{ form_widget(form.distrito,{'attr':{'class':'form-control'}}) }}
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(form.structure,'Estructura') }}
                    {{ form_errors(form.structure) }}
                    {{ form_widget(form.structure,{'attr':{'class':'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.telefono,'* Teléfono') }}
                    {{ form_errors(form.telefono) }}
                    {{ form_widget(form.telefono,{'attr':{'class':'form-control'}}) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.email,'* Email') }}
                    {{ form_errors(form.email) }}
                    {{ form_widget(form.email,{'attr':{'class':'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.description,'* Descripción') }}
                    {{ form_errors(form.description) }}
                    {{ form_widget(form.description,{'attr':{'class':'form-control', 'rows':'5'}}) }}
                </div>
                <div class="form-group">
                    {{ form_widget(form.submit,{'attr':{'class':'btn btn-konstruye btn-registrate'},'label':'Registrar'}) }}
                </div>
            </div>



            {{ form_end(form) }}
        </div>
    </div>






</body>








<script type="text/javascript" src="{{ asset('js/jquery-1.11.0.min.js') }}"></script>
<script>
    $("#inmueble_departamento").change(function(){
        var data = {
            departamento_id: $(this).val()
        };

        $.ajax({
            type: 'post',
            url: '{{ path("select_provinces") }}',
            data: data,
            success: function(data) {
                var $provincia_selector = $('#inmueble_provincia');

                $provincia_selector.html('<option></option>');

                for (var i=0, total = data.length; i < total; i++) {
                    $provincia_selector.append('<option value="' + data[i].id + '">' + data[i].nombre + '</option>');
                }
            }
        });
    });
    $("#inmueble_provincia").change(function(){
        var data = {
            provincia_id: $(this).val()
        };

        $.ajax({
            type: 'post',
            url: '{{ path("select_cities") }}',
            data: data,
            success: function(data) {
                var $distrito_selector = $('#inmueble_distrito');

                $distrito_selector.html('<option></option>');

                for (var i=0, total = data.length; i < total; i++) {
                    $distrito_selector.append('<option value="' + data[i].id + '">' + data[i].nombre + '</option>');
                }
            }
        });
    });

</script>