{% block title %}
    <title>Konstruye.pe | </title>
{% endblock title %}
{% block stylesheets %}
    {#{{ parent() }}#}
    {#Magnific Popup#}
    <link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}">
{% endblock stylesheets %}

<section class="perfil">
    {#{{ dump(app.user) }}#}
    <div class="container-fluid position">
        <div class="row ">
            <div class="imagen-fondo-perfil fondo-defaults">

            </div>
            <div class="container flex-container-perfil">
                <figure class="perfil-fondo-izquierda">
                    {{ render(controller('AppBundle:User:showProfile')) }}
                </figure>
                <div class="perfil-fondo-derecha">
                    <p class="perfil-bienvenida">¡Bienvenido(a)!</p>
                    <p class="perfil-nombre">{{ app.user.nombres}} <strong>{{ app.user.apellidos }}</strong>
                    <div class="dropdown " style="display: inline-block;margin-left: 3px;">
                        <i class="fa fa-cog" aria-hidden="true" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"></i>
                        <ul class="dropdown-menu dropdown-margin">
                            <li><a href="{{ path('fos_user_profile_edit') }}"><i class="fa fa-pencil" aria-hidden="true"></i>Editar Datos</a></li>
                            <li><a href="#"><i class="fa fa-picture-o" aria-hidden="true"></i>Editar Foto Portada</a></li>
                            <li><a href="{{ path('fos_user_change_password') }}"><i class="fa fa-lock" aria-hidden="true"></i>Cambiar Contraseña</a></li>
                        </ul>
                    </div>
                    </p>
                </div>
            </div>
            {#<div class="container">#}
                {#<div class="col-md-2 perfil">#}
                    {#<div class="modal-image">#}
                        {#<p style="margin-top: 10px">¡Bienvenido(a)!</p>#}
                        {#{{ render(controller('AppBundle:User:showProfile')) }}#}
                        {#<h1>{{ user.nombres }} {{ user.apellidos }}</h1>#}
                        {#<p>{{ user.email }}</p>#}
                        {#<p>{{ user.username }}</p>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="col-md-10">#}

                    {#<div class="menu-perfil">#}
                        {#{{ knp_menu_render('AppBundle:Builder:menuProfile') }}#}

                    {#</div>#}
                {#</div>#}
            {#</div>#}

            {#<div class="">#}
                {#<div class="container">#}
                    {#{% include "FOSUserBundle:Profile:show_include_menu_lateral.html.twig" %}#}
                {#</div>#}
            {#</div>#}
        </div>
    </div>
</section>
