{% extends "FOSUserBundle::layout.html.twig" %}
{% block title %}
    <title>Konstruye.pe | Mis Comentarios</title>
{% endblock title %}
{% block  stylesheets%}
    {{ parent() }}
    {#Rate Yo#}
    <link rel="stylesheet" href="{{ asset('css/jquery.rateyo.min.css') }}">
    {#Magnific Popup#}
    <link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}">
{% endblock stylesheets%}

{% block fos_user_content %}

    {% include "FOSUserBundle:Profile:show_include_perfil_menu.html.twig" %}
    {#{{ dump(comentarios) }}#}


    <div class="comment" style="margin-bottom: 20px">
        <div class="container">

            {% include "FOSUserBundle:Profile:show_include_menu_lateral.html.twig" %}

            <div class=" comentario-perfil">
                <div class="col-md-10 ">
                    <div class="marging-top">
                        {% if comentarios|length > 0 %}
                            {% for comentario in comentarios %}
                                <div class="media comment">
                                    <div class="media-left padding-right-comentarios">
                                        <div class="image-comentario">
                                            {% if comentario.negocio.logo is not null %}
                                                <img class="img-responsive" width="80" src="{{ vich_uploader_asset(comentario.negocio.logo, 'logoFile') }}" alt=""/>
                                            {% else %}
                                                <img class="img-responsive" width="80" src="http://placehold.it/80x80" alt=""/>
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="media-body comentarios-personales">
                                        <div class="titulo-rating">
                                            <h3>{{ comentario.titulo }} -</h3><span class="rateYo_comments" data-rating="{{ comentario.nota }}"></span>
                                        </div>

                                        <div class="comentario_editar">
                                            <p>{{ comentario.comentario }} <span>| <a class="simple-ajax-popup" href="{{ path('negocio_me_comentar_profile_edit',{'slug_negocio':comentario.negocio.slug}) }}">Editar</a></span></p>
                                        </div>
                                        <div class="date">{{ comentario.adedAt|date("d F, Y") }} </div>

                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <section class="alerta-mensaje-ninguno">
                                <p><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></p>
                                <p>Aun no ha realizado ninguna comentario.</p>
                            </section>
                        {% endif %}

                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock fos_user_content %}

{% block javascripts %}
    {{ parent() }}
    {#Rate Yo#}
    <script type="text/javascript" src="{{ asset('js/jquery.rateyo.min.js') }}"></script>
    <script>
        $(document).ready(function(){
            {#Rateyo#}
            var color="#30BDEF";

            $( ".rateYo_comments" ).each(function( index ) {
                $(this).rateYo({
                    rating: $(this).attr("data-rating"),
                    starWidth: "16px",
                    readOnly: true,
                    ratedFill: color,
                    normalFill: "#A0A0A0"
                });
            });

            {#Magnific Popup#}
            $('.simple-ajax-popup').magnificPopup({
                type: 'ajax'
            });
        })
    </script>
{% endblock javascripts %}