<div class="row ">
    <div class="imagen-fondo-perfil fondo-defaults">
        {#imagen fondo#}
    </div>
    <div class="container flex-container-perfil" style="padding: 0">
        <figure class="perfil-fondo-izquierda">
            {{ render(controller('AppBundle:User:showProfile')) }}
        </figure>
        <div class="perfil-fondo-derecha">
            <p class="perfil-bienvenida">¡Bienvenido(a)!</p>
            <p class="perfil-nombre">{{ app.user.nombres}} <strong>{{ app.user.apellidos }}</strong>
            <div class="dropdown " style="display: inline-block;margin-left: 3px;">
                <i class="fa fa-cog" aria-hidden="true" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"></i>
                <ul class="dropdown-menu dropdown-margin">
                    <li><a href="{{ path('fos_user_profile_edit') }}"><i class="fa fa-pencil" aria-hidden="true"></i>Editar Datos</a></li>
                    <li><a href="#"><i class="fa fa-picture-o" aria-hidden="true"></i>Editar Foto Portada</a></li>
                    <li><a href="{{ path('fos_user_change_password') }}"><i class="fa fa-lock" aria-hidden="true"></i>Cambiar Contraseña</a></li>
                </ul>
            </div>
            </p>
        </div>
    </div>
</div>