<section class="perfil">
    <div class="container-fluid position">
        <div class="row ">
            <div class="imagen-fondo-perfil fondo-defaults">

            </div>
            <div class="container flex-container-perfil">
                <figure class="perfil-fondo-izquierda">
                    <img class="img-circle" src="https://dummyimage.com/90" alt="Imagen Perfil"/>
                </figure>
                <div class="perfil-fondo-derecha">
                    <p class="perfil-bienvenida">¡Bienvenido(a)!</p>
                    <p class="perfil-nombre">Javier <strong>Diaz</strong>
                    <div class="dropdown " style="display: inline-block;margin-left: 35px;">
                        <i class="fa fa-cog" aria-hidden="true" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"></i>
                        <ul class="dropdown-menu dropdown-margin">
                            <li><a href="{{ path('fos_user_profile_edit') }}"><i class="fa fa-pencil" aria-hidden="true"></i>Editar Datos</a></li>
                            <li><a href="#"><i class="fa fa-picture-o" aria-hidden="true"></i>Editar Foto Portada</a></li>
                            <li><a href="{{ path('fos_user_change_password') }}"><i class="fa fa-lock" aria-hidden="true"></i>Cambiar Contraseña</a></li>
                        </ul>
                    </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="menu">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="menu-seccion-izquierda">
                    <ul>
                        <li class="lista-seccion">
                            <a href="{{ path('show_profile_comments') }}">
                                <div><i class="fa fa-commenting-o" aria-hidden="true"></i></div>
                                <span>MIS COMENTARIOS</span>
                            </a>
                        </li>
                        <li class="lista-seccion">
                            <a href="{{ path('show_profile_negocios') }}">
                                <div><i class="fa fa-archive" aria-hidden="true"></i></div>
                                <span>MI COLECCIÓN</span>
                            </a>
                        </li>
                        <li class="lista-seccion">
                            <a href="#">
                                <div><i class="fa fa-users" aria-hidden="true"></i></div>
                                <span>MI PERFIL PUBLICO</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="menu-seccion-derecha">
                    <div>
                        <a href="{{ path('profile_negocios_seletion') }}">
                            <div><i class="fa fa-commenting-o" aria-hidden="true"></i></div>
                            <span>REGISTRAR NEGOCIO</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>