{% extends "FOSUserBundle::layout.html.twig" %}
{% block title %}
    <title>Konstruye.pe | Mi Perfil</title>
{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    {#Noty#}
    <link rel="stylesheet" href="{{ asset('css/animate.css') }}">
    {#Magnific Popup#}
    {#<link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}">#}
{% endblock stylesheets %}

{% block fos_user_content %}

    {#<div class="container">#}
        {#<div class="col-md-2 perfil">#}
            {#<div class="modal-image">#}
                {#<p style="margin-top: 10px">¡Bienvenido(a)!</p>#}
                {#{{ render(controller(#}
                {#'AppBundle:User:showProfile'#}
                {#)) }}#}
                {#<h1>{{ user.nombres }} {{ user.apellidos }}</h1>#}
                {#<p>{{ user.email }}</p>#}
                {#<p>{{ user.username }}</p>#}
            {#</div>#}
        {#</div>#}
        {#<div class="col-md-10">#}

            {#<div class="menu-perfil">#}
                {#{{ knp_menu_render('AppBundle:Builder:menuProfile') }}#}

            {#</div>#}
        {#</div>#}
    {#</div>#}
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div id="error" data-error="{{ message }}"></div>
        {% endfor %}
    {% endfor %}
{% include "FOSUserBundle:Profile:show_include_perfil_menu.html.twig" %}
{% include "FOSUserBundle:Profile:show_content.html.twig" %}
{% endblock fos_user_content %}
