
{#{{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}#}

{#{{ dump(form) }}#}
{#<div class="col-md-4 col-md-offset-4">#}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 style="text-align: center">Escribe tu comentario</h1>
        </div>
        <div class="panel-body">
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

            <div class="form-group">
                {{ form_label(form.titulo) }}
                {{ form_errors(form.titulo) }}
                {{ form_widget(form.titulo, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.comentario) }}
                {{ form_errors(form.comentario) }}
                {{ form_widget(form.comentario, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_widget(form.submit,{ 'attr': {'class': 'btn btn-success'},'label': 'Guardar'}) }}
            </div>

            {{ form_end(form) }}
        </div>
{#</div>#}

        <script>
            if (typeof jQuery != 'undefined'){
                $( document ).ready(function() {
                    $('#comentario_negocio_submit').click(function(e){
//                        $('#comentario_proveedor_submit').prop('disabled', true);
                        e.preventDefault();
                        $.ajax({
                            type        : $('form').attr( 'method' ),
                            url         : $('form').attr( 'action' ),
                            data        : $('form').serialize(),
                            dataType    : "json"

                        }).done(function(data) {
                            console.log(data);
                            $('#comentario_proveedor_submit').prop('disabled', false);
                        });
                    });
                });

            }
        </script>





