{#{{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}#}
{{ dump(producto) }}

<div class="contenedor-popup-comentario">
    <div class="contenedor-popup">
        <div class="popup-comentario-titulo">
            <h1>Solicitar Cotización</h1>
        </div>
        <div class=formform.,{'attr':{'class':'form-control'.widget()"popup-comentario-form">
            {{ form_start(form, {'attr':{'novalidate':'novalidate'}}) }}
            <div class=_form-group">
                {{ form_label(form.name) }}
                {{ form_errors(form.name) }}
                {{ form_widget(form.name,{'attr':{'class':'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.tel) }}
                {{ form_errors(form.tel) }}
                {{ form_widget(form.tel,{'attr':{'class':'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.email) }}
                {{ form_errors(form.email) }}
                {{ form_widget(form.email,{'attr':{'class':'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.subject) }}
                {{ form_errors(form.subject) }}
                {{ form_widget(form.subject,{'attr':{'class':'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.message) }}
                {{ form_errors(form.message) }}
                {{ form_widget(form.message,{'attr':{'class':'form-control'}}) }}
            </div>
            <div class=_form-group">
                {{ form_widget(form.send,{'label':'Guardar'}) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>


