{#{{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}#}
{#{{ dump(app.user) }}#}


<div class="contenedor-popup-comentario">
    <div class="contenedor-popup">
        <div class="popup-comentario-titulo">
            <h1>Contáctanos</h1>
        </div>
        <div class="popup-comentario-form">
            {{ form_start(form, {'attr':{'novalidate':'novalidate'}}) }}

                <div class="form-group">
                    {{ form_label(form.name,'Nombre') }}
                    {{ form_errors(form.name) }}
                    {{ form_widget(form.name,{'attr':{'class':'form-control','value':app.user.nombres}}) }}
                </div>
                <div class="form-group" id="telefonoInput">
                    {{ form_label(form.tel,'Telefono') }}
                    {{ form_errors(form.tel) }}
                    {{ form_widget(form.tel,{'attr':{'class':'form-control','placeholder':'ingrese su telefono'}}) }} {#problema con app.user.telefono#}
                </div>
                <div class="form-group">
                    {{ form_label(form.email,'Email') }}
                    {{ form_errors(form.email) }}
                    {{ form_widget(form.email,{'attr':{'class':'form-control','value':app.user.email}}) }}
                </div>
                <div class="form-group" id="asuntoInput">
                    {{ form_label(form.subject,'Asunto') }}
                    {{ form_errors(form.subject) }}
                    {{ form_widget(form.subject,{'attr':{'class':'form-control','placeholder':''}}) }}
                </div>
                <div class="form-group" id="mensajeTextArea">
                    {{ form_label(form.message,'Mensaje') }}
                    {{ form_errors(form.message) }}
                    {{ form_widget(form.message,{'attr':{'class':'form-control','placeholder':'Deje su mensaje..'}}) }}
                </div>
                <div class="form-group">
                    {{ form_widget(form.send,{'label':'Guardar','attr':{'class':'btn btn-konstruye'}}) }}
                </div>

            {{ form_end(form) }}
        </div>
    </div>
</div>

<script>
    if(typeof jQuery != 'undefined'){
        $(document).ready(function(){
            $('#cotizacion_send').click(function(e){
                $('#cotizacion_send').prop('disabled', true);
               e.preventDefault();
                $.ajax({
                    type: $('form').attr('method'),
                    url: $('form').attr('action'),
                    data: $('form').serialize(),
                    dataType: 'json'
                }).done(function(data){
                   if(data.success != undefined){
                       window.location.href = data.success;
                   }else {
                       $('div#container-alert').remove();
//                       $('#cotizacion_send').prop('disabled', false);
                       if(data.errors.fields.cotizacion_tel != undefined) {
                            $('#telefonoInput label').append("<div id='container-alert'><i class='fa fa-exclamation-circle' aria-hidden='true'></i> "+ data.errors.fields.cotizacion_tel+"</div>");
                       }
                       if(data.errors.fields.cotizacion_subject != undefined){
                           $('#asuntoInput label').append("<div id='container-alert'><i class='fa fa-exclamation-circle' aria-hidden='true'></i> "+ data.errors.fields.cotizacion_subject+"</div>");
                       }
                       if(data.errors.fields.cotizacion_message != undefined){
                           $('#mensajeTextArea label').append("<div id='container-alert'><i class='fa fa-exclamation-circle' aria-hidden='true'></i> "+ data.errors.fields.cotizacion_message+"</div>");
                       }
                   }
                });
            });
        });
    }
</script>
