{% extends 'FOSUserBundle::layout.html.twig' %}
{% block title %}
    <title>Konstruye.pe | Inicio</title>
{% endblock title %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/masterslider.css') }}">
    <link rel="stylesheet" href="{{ asset('css/ms-staff-style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <style>
        .ui-autocomplete-loading {
            background: white url("/images/assets/ui-anim_basic_16x16.gif") right center no-repeat;
        }
    </style>
{% endblock %}

{% block fos_user_content %}
    <!--
    <div id="loader-wrapper">
        <div id="loader"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>

    </div>
-->
    <div class="container-fluid">
        <div class="row">
            <div class="master-slider ms-skin-default" id="masterslider">
                <!-- new slide -->
                <div class="ms-slide">
                    <img src="{{ asset('images/assets/blank.gif') }}" data-src="{{ asset('images/assets/banner2.jpg') }}" alt="lorem ipsum dolor sit"/>
                </div>
                <div class="ms-slide">
                    <img src="{{ asset('images/assets/blank.gif') }}" data-src="{{ asset('images/assets/banner3.jpg') }}" alt="lorem ipsum dolor sit"/>
                </div>
                <div class="ms-slide">
                    <img src="{{ asset('images/assets/blank.gif') }}" data-src="{{ asset('images/assets/banner4.jpg') }}" alt="lorem ipsum dolor sit"/>
                </div>
                <div class="ms-slide">
                    <img src="{{ asset('images/assets/blank.gif') }}" data-src="{{ asset('images/assets/banner5.jpg') }}" alt="lorem ipsum dolor sit"/>
                </div>
            </div>
        </div>

    </div>


    <div id="search-cop">
        <div class="search-change">
            <span id="hide1">Buscador de Negocios</span>
            <span>|</span>
            <span id="hide2">Buscador de Productos</span>
        </div>

        <form id="s1" data-buscar-url="{{ path('buscar_negocios_by_seccion_null') }}" action="{{ path('search_global_negocios') }}" class="buscador_principal" role="search">
            <div class="form-group buscador">
                <input type="text" class="form-control" placeholder="Buscar Negocios">
            </div>
            <select class="selectpicker">
                <option value="">Selecciona una Categoria</option>
                <option value="constructoras-e-inmobiliarias">Constructoras e Inmobiliarias</option>
                <option value="especialistas-servicios-personales">Especialistas y Servicios Personales</option>
                <option value="proveedores">Proveedores</option>
            </select>
        </form>

        <form id="s2" data-buscar-url="{{ path('buscar_productos') }}"  action="{{ path('search_global_productos') }}" class="buscador_principal" role="search">
            <div class="form-group buscador">
                <input type="text" class="form-control" placeholder="Buscar Productos">
            </div>
            <select class="selectpicker">
                <option selected value="proveedores">Proveedores</option>
            </select>
        </form>
    </div>




    <div class="container">
        <p class="about-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>


    <div class="container">
        <h1 class="mejores_tittle">Inmobiliaras/Constructoras</h1>
    </div>

    <div class="container">
        <div class="ms-staff-carousel ms-round">
            <!-- masterslider -->
            <div class="master-slider2 " id="masterslider2">
                <div class="ms-slide">
                    <img src="{{ asset('images/assets/blank.gif') }}" data-src="{{ asset('images/assets/pro1.png') }}" alt="lorem ipsum dolor sit"/>
                    <div class="ms-info">
                        <h3>JULIA B. MCRAFLANE</h3>
                    </div>
                </div>
                <div class="ms-slide">
                    <img src="{{ asset('images/assets/blank.gif') }}" data-src="{{ asset('images/assets/pro2.png') }}" alt="lorem ipsum dolor sit"/>
                    <div class="ms-info">
                        <h3>AMY CLAYTON</h3>
                    </div>
                </div>
                <div class="ms-slide">
                    <img src="{{ asset('images/assets/blank.gif') }}" data-src="{{ asset('images/assets/pro3.png') }}" alt="lorem ipsum dolor sit"/>
                    <div class="ms-info">
                        <h3>FRED PENNER</h3>
                    </div>
                </div>
                <div class="ms-slide">
                    <img src="{{ asset('images/assets/blank.gif') }}" data-src="{{ asset('images/assets/pro4.png') }}" alt="lorem ipsum dolor sit"/>
                    <div class="ms-info">
                        <h3>MARTINA SAIZ</h3>
                    </div>
                </div>
                <div class="ms-slide">
                    <img src="{{ asset('images/assets/blank.gif') }}" data-src="{{ asset('images/assets/pro3.png') }}" alt="lorem ipsum dolor sit"/>
                    <div class="ms-info">
                        <h3>JOSEPH B. SEWARD</h3>
                    </div>
                </div>


            </div>
            <!-- end of masterslider -->
            <div class="ms-staff-info" id="staff-info"></div>
        </div>

        <div class="container">
            <h1 class="mejores_tittle">Los Mejores Proveedores</h1>
        </div>
        <div class="ms-staff-carousel ms-round">
            <!-- masterslider -->
            <div class="master-slider3" id="masterslider3">
                <div class="ms-slide">
                    <img src="{{ asset('images/assets/blank.gif') }}" data-src="{{ asset('images/assets/pro1.png') }}" alt="lorem ipsum dolor sit"/>
                    <div class="ms-info">
                        <h3>JULIA B. MCRAFLANE</h3>
                    </div>
                </div>
                <div class="ms-slide">
                    <img src="{{ asset('images/assets/blank.gif') }}" data-src="{{ asset('images/assets/pro2.png') }}" alt="lorem ipsum dolor sit"/>
                    <div class="ms-info">
                        <h3>AMY CLAYTON</h3>
                    </div>
                </div>
                <div class="ms-slide">
                    <img src="{{ asset('images/assets/blank.gif') }}" data-src="{{ asset('images/assets/pro3.png') }}" alt="lorem ipsum dolor sit"/>
                    <div class="ms-info">
                        <h3>FRED PENNER</h3>
                    </div>
                </div>
                <div class="ms-slide">
                    <img src="{{ asset('images/assets/blank.gif') }}" data-src="{{ asset('images/assets/pro4.png') }}" alt="lorem ipsum dolor sit"/>
                    <div class="ms-info">
                        <h3>MARTINA SAIZ</h3>
                    </div>
                </div>
                <div class="ms-slide">
                    <img src="{{ asset('images/assets/blank.gif') }}" data-src="{{ asset('images/assets/pro3.png') }}" alt="lorem ipsum dolor sit"/>
                    <div class="ms-info">
                        <h3>JOSEPH B. SEWARD</h3>
                    </div>
                </div>


            </div>
            <!-- end of masterslider -->
            <div class="ms-staff-info" id="staff-info2"></div>

        </div>
    </div>
    {#
    {{ dump(imobiliarias) }}
    {{ dump(inmuebles) }}
    {{ dump(especialistas) }}
    {{ dump(proveedores) }}
    #}


{% endblock fos_user_content %}




{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/masterslider.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/jquery.easing.min.js') }}" type="text/javascript"></script>
    <script>

            function monkeyPatchAutocomplete() {

                // Don't really need to save the old fn,
                // but I could chain if I wanted to
                var oldFn = $.ui.autocomplete.prototype._renderItem;

                $.ui.autocomplete.prototype._renderItem = function( ul, item) {
                    var re = new RegExp("^" + this.term, "i") ;
                    var t = item.label.replace(re,"<span style='font-weight:bold;color:Blue;'>" + this.term + "</span>");
                    return $( "<li></li>" )
                            .data( "item.autocomplete", item )
                            .append( "<a>" + t + "</a>" )
                            .appendTo( ul );
                };
            }

            $(document).ready(function() {
                var slider = new MasterSlider();

                slider.control('arrows' ,{insertTo:'#masterslider'});
                slider.control('bullets');

                slider.setup('masterslider' , {
                    width:1024,
                    height:768,
                    space:5,
                    grabCursor:false,
                    view:'basic',
                    layout:'fullscreen',
                    fullscreenMargin:57,
                    speed:20
                });


                var slider2 = new MasterSlider();
                slider2.setup('masterslider2' , {
                    loop:true,
                    width:150,
                    height:150,
                    speed:20,
                    view:'focus',
                    preload:0,
                    grabCursor:false,
                    space:0,
                    space:35,
                    viewOptions:{centerSpace:1.6}
                });
                slider2.control('arrows');
                slider2.control('slideinfo',{insertTo:'#staff-info'});


                var slider3 = new MasterSlider();
                slider3.setup('masterslider3' , {
                    loop:true,
                    width:150,
                    height:150,
                    speed:20,
                    view:'focus',
                    preload:0,
                    grabCursor:false,
                    space:0,
                    space:35,
                    viewOptions:{centerSpace:1.6}
                });
                slider3.control('arrows');
                slider3.control('slideinfo',{insertTo:'#staff-info2'});

            });

            monkeyPatchAutocomplete();
            var s1_found_data = false;
            $( "#s1 input" ).autocomplete({
                source: function( request, response ) {
                    var seccion = $("#s1 .selectpicker").val();
                    if(seccion==""){
                        alert('Seleciona una categoria primero !')
                    }
                    var url = $("#s1").attr('data-buscar-url');
                    s1_found_data = false;
                    $.ajax( {
                        url: url+seccion,
                        //dataType: "jsonp",
                        data: {
                            q: request.term
                        },
                        success: function( data ) {
                            //console.log(data);
                            // Handle 'no match' indicated by [ "" ] response
                            response( data.length === 0 ? ['Ningun resultado encontrado'] : data );
                            if(data.length>0) s1_found_data = true;
                        }
                    } );
                },
                minLength: 1,
                select: function( event, ui ) {
                    if(!s1_found_data) return false;

                    $( "#s1 input").attr('value',ui.item.label);
                    var url = $('#s1').attr('action');
                    var search = ui.item.label;
                    window.open(url+'/'+search,'_self',false);
                    //$('#s2').submit();
                    //alert(ui.item.label);
                    //log( "Selected: " + ui.item.label );
                }
            });

            var s2_found_data = false;
            $( "#s2 input" ).autocomplete({
                source: function( request, response ) {
                    var url = $("#s2").attr('data-buscar-url');
                    s2_found_data = false;
                    $.ajax( {
                        url: url,
                        //dataType: "jsonp",
                        data: {
                            q: request.term
                        },
                        success: function( data ) {
                            // Handle 'no match' indicated by [ "" ] response
                            response( data.length === 0 ? ['Ningun resultado encontrado'] : data );
                            if(data.length>0) s2_found_data = true;
                            //response( data.length === 1 && data[ 0 ].length === 0 ? ['Ningun resultado encontrado'] : data );
                        }
                    } );
                },
                minLength: 1,
                select: function( event, ui ) {
                    if(!s2_found_data) return false;
                    $( "#s2 input").attr('value',ui.item.label);
                    var url = $('#s2').attr('action');
                    var search = ui.item.label;
                    window.open(url+'/'+search,'_self',false);
                    //$('#s2').submit();
                    //alert(ui.item.label);
                    //log( "Selected: " + ui.item.label );
                }
            } );

    </script>


{% endblock javascripts %}

