{% extends 'FOSUserBundle::layout.html.twig' %}
{% block title %}
    <title>Konstruye.pe | Inicio</title>
{% endblock title %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/masterslider.css') }}">
    <link rel="stylesheet" href="{{ asset('css/ms-staff-style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <style>
        #wrap{
            margin-top: 0;
        }
        .nav-principal2{
            display: none;
        }
        .ui-autocomplete-loading {
            background: white url("/images/assets/ui-anim_basic_16x16.gif") right center no-repeat;
        }
    </style>
{% endblock %}

{% block fos_user_content %}
    {#SPINNER#}
    {#<div id="loader-wrapper">#}
        {#<div id="loader"></div>#}

        {#<div class="loader-section section-left"></div>#}
        {#<div class="loader-section section-right"></div>#}

    {#</div>#}

    <div class="container-fluid">
        <div class="row">

            <div class="container">
                <div class="index-menu">
                    <div class="decoration"></div>
                    <a href="{{ path('homepage') }}" class="logo-index">
                        <img src="{{ asset('images/logo-sq-color.svg') }}" alt="">
                    </a>

                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <div class="dropdown index-logeado" style="margin-right: 78px">
                                <div class="dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    {% if app.user.profile is not null %}
                                        <img class="img-circle" width="50px" src="{{ vich_uploader_asset(app.user.profile, 'profileFile') }}" alt="">
                                        <div class="stiky-name"><i class="fa fa-chevron-down" aria-hidden="true"></i></div>

                                    {% else %}
                                        <img class="img-circle" width="50px" src="{{ asset('images/assets/perfil_icon.png') }}" alt="">
                                        <div class="stiky-name"><i class="fa fa-chevron-down" aria-hidden="true"></i></div>
                                    {% endif %}
                                </div>
                                <ul class="dropdown-menu drop-menu" aria-labelledby="dropdownMenu3">
                                    <li><a href="{{ path('profile_negocios_panel') }}"><i class="fa fa-briefcase" aria-hidden="true"></i> Panel de Negocios</a></li>
                                    <li><a href="{{ path('fos_user_profile_show')}}"><i class="fa fa-user" aria-hidden="true"></i> Mi Perfil</a></li>
                                    <li>
                                        <a href="{{ path('fos_user_security_logout') }}">
                                            <i class="fa fa-sign-out" aria-hidden="true"></i> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        {% else %}
                            <div class="login-index">
                                    <div class="login-stiky">
                                        <a href="{{ path('fos_user_registration_register') }}">Registrate</a>
                                        <a href="{{ path('fos_user_security_login') }}">Inicia Sesión</a>

                                    </div>
                            </div>
                        {% endif %}



                </div>
            </div>


            {# Buscador Principal #}
        
                <div class="buscador-principal">

                    <a href="javascript:void(0)" id="button1"><i class="fa fa-briefcase" aria-hidden="true"></i> Buscador de Negocios</a>
                    <a href="javascript:void(0)" id="button2"><i class="fa fa-shopping-bag" aria-hidden="true"></i> Buscador de Productos</a>


                    <div id="buscador1">
                        <form method="GET" data-buscar-url="{{ path('buscar_negocios_by_seccion_null') }}" action="{{ path('search_global_negocios') }}" role="search">

                            <!--<i class="fa fa-chevron-down" aria-hidden="true"></i>-->
                            <select name="slug_seccion"  id="select-buscador" class="selectpicker">
                                <option value="">Selecciona una Categoria</option>
                                <option value="constructoras-e-inmobiliarias">Constructoras e Inmobiliarias</option>
                                <option value="especialistas-servicios-personales">Especialistas y Servicios Personales</option>
                                <option value="proveedores">Proveedores</option>
                            </select>
                            <input name="search" type="text" placeholder="Ejemplo: Carpintero, Trebol Celima"/>
                        </form>
                    </div>


                    <div id="buscador2">
                        <form method="GET" data-buscar-url="{{ path('buscar_productos') }}"  action="{{ path('search_global_productos') }}" role="search">


                            <select name="slug_seccion" id="select-buscador2" class="selectpicker">
                                <option selected value="proveedores">Proveedores</option>
                            </select>
                            <input name="search" type="text" placeholder="Ejemplo: Marmol, Madera, Mesas"/>
                        </form>
                    </div>


                </div>
            
            {# Fin Buscador Principal #}
        
            <div class="master-slider ms-skin-default" id="masterslider">
                <!-- new slide -->
                <div class="ms-slide">
                    <img src="{{ asset('images/assets/blank.gif') }}" data-src="{{ asset('images/assets/banner6.jpg') }}" alt="lorem ipsum dolor sit"/>
                </div>
                <div class="ms-slide">
                    <img src="{{ asset('images/assets/blank.gif') }}" data-src="{{ asset('images/assets/banner2.jpg') }}" alt="lorem ipsum dolor sit"/>
                </div>
                <div class="ms-slide">
                    <img src="{{ asset('images/assets/blank.gif') }}" data-src="{{ asset('images/assets/banner4.jpg') }}" alt="lorem ipsum dolor sit"/>
                </div>
                <div class="ms-slide">
                    <img src="{{ asset('images/assets/blank.gif') }}" data-src="{{ asset('images/assets/banner7.jpg') }}" alt="lorem ipsum dolor sit"/>
                </div>
            </div>
        </div>

    </div>



    <div class="container-fluid"  id="menu-index-bottom">
        <div class="container">
            <ul>
                <li><a href="{{ path('lisdato_seccion',{'slug_seccion':'proveedores'}) }}"><i class="fa fa-truck" aria-hidden="true"></i> Proveedores</a></li>
                <li><a href="{{ path('lisdato_seccion',{'slug_seccion':'compra-venta-y-alquiler-inmuebles'}) }}"><i class="fa fa-home" aria-hidden="true"></i> Compra venta y alquiler de inmuebles</a></li>
                <li><a href="{{ path('lisdato_seccion',{'slug_seccion':'especialistas-servicios-personales'}) }}"><i class="fa fa-users" aria-hidden="true"></i> Especialistas servicios personales</a></li>
                <li><a href="{{ path('lisdato_seccion',{'slug_seccion':'constructoras-e-inmobiliarias'}) }}"><i class="fa fa-building-o" aria-hidden="true"></i> Constructoras e inmobiliarias</a></li>

            </ul>
        </div>

    </div>




    <div class="container-fluid about-us-container">
        <div class="container">
            <div class="row">
                <div class="col-md-4 about-us-text">
                    <h1>Lorem <span>ipsum</span></h1>
                    <h2>dolor <span>sit</span> amet</h2>
                </div>
                <div class="col-md-8">
                    <p class="about-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>

        </div>
    </div>




    <div class="container-fluid contenedor-blanco">
        <div class="container">
            <h1 class="mejores_tittle">Los Mejores Proveedores</h1>
        </div>
        <div class="container" style="position: relative">
            <img width="280px" style="position: absolute;bottom: -15px;" src="{{ asset('images/proveedor_home.jpg') }}" alt=""/>
            <div class="col-md-8 col-md-offset-4">

                <div class="ms-staff-carousel ms-round">
                    {% if proveedores|length >= 5 %}
                        <!-- masterslider -->
                        <div class="master-slider3 " id="masterslider3">
                            {% for pro in proveedores %}
                                <div class="ms-slide">
                                    <a href="{{ path('show_negocio',
                                    {"slug_negocio":pro.negocio.slug}) }}">
                                        {% if pro.negocio.logo is not null %}
                                            <img src="{{ asset('images/assets/blank.gif') }}" data-src="{{ vich_uploader_asset(pro.negocio.logo, 'logoFile','AppBundle\\Entity\\Logo') }}" alt="lorem ipsum dolor sit"/>
                                        {% else %}
                                            <img src="http://placehold.it/150x150" alt="" />
                                        {% endif %}
                                    </a>
                                    {% if pro.negocio.logo is not null %}
                                        <img src="{{ asset('images/assets/blank.gif') }}" data-src="{{ vich_uploader_asset(pro.negocio.logo, 'logoFile','AppBundle\\Entity\\Logo') }}" alt="lorem ipsum dolor sit"/>
                                    {% else %}
                                        <img src="http://placehold.it/150x150" alt="" />
                                    {% endif %}


                                    <div class="ms-info">
                                        <a href="{{ path('show_negocio',
                                        {"slug_negocio":pro.negocio.slug}) }}"><h3>{{ pro.negocio.nombre }}</h3></a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <!-- end of masterslider -->
                        <div class="ms-staff-info" id="staff-info3"></div>
                    {% else %}
                        <div class="mensaje-default-blanco">
                            <h1>¡Descrube nuevos proveedores!</h1>
                            <h2>y hazlos tus favoritos</h2>
                            <a href="{{ path('lisdato_seccion',{'slug_seccion': 'proveedores'}) }}" class="btn btn-konstruye2">Empieza aquí</a>
                        </div>


                    {% endif %}

                </div>

            </div>
        </div>

    </div>



   <div class="container-fluid contenedor-transparente">
       <div class="container">
           <h1 class="mejores_tittle"><span>Mejores Inmuebles</span></h1>
       </div>
       <div class="container" style="position: relative">
           <img width="338px" style="position: absolute;bottom: -15px;right: 0" src="{{ asset('images/inmobiliarias_home.png') }}" alt=""/>
           <div class="col-md-8">
               <div class="ms-staff-carousel ms-round">
                   {% if inmuebles|length >= 5 %}
                   <!-- masterslider -->
                   <div class="master-slider5" id="masterslider5">
                       {% for inm in inmuebles %}
                           <div class="ms-slide">
                               <a href="{{ path('show_negocio',
                               {"slug_negocio":inm.negocio.slug}) }}">
                                   {% if inm.negocio.logo is not null %}
                                       <img src="{{ asset('images/assets/blank.gif') }}" data-src="{{ vich_uploader_asset(inm.negocio.logo, 'logoFile','AppBundle\\Entity\\Logo') }}" alt="lorem ipsum dolor sit"/>
                                   {% else %}
                                       <img src="http://placehold.it/150x150" alt="" />
                                   {% endif %}
                               </a>
                               {% if inm.negocio.logo is not null %}
                                   <img src="{{ asset('images/assets/blank.gif') }}" data-src="{{ vich_uploader_asset(inm.negocio.logo, 'logoFile','AppBundle\\Entity\\Logo') }}" alt="lorem ipsum dolor sit"/>
                               {% else %}
                                   <img src="http://placehold.it/150x150" alt="" />
                               {% endif %}
                               <div class="ms-info">
                                   <a href="{{ path('show_negocio',
                                   {"slug_negocio":inm.negocio.slug}) }}"><h3>{{ inm.negocio.nombre }}</h3></a>
                               </div>
                           </div>
                       {% endfor %}
                   </div>
                   <!-- end of masterslider -->
                   <div class="ms-staff-info" id="staff-info5"></div>
                   {% else %}
                       <div class="mensaje-default-transparente">
                           <h1>¡Descrube asombrosos inmuebles!</h1>
                           <h2>y hazlos tus favoritos</h2>
                           <a href="{{ path('lisdato_seccion',{'slug_seccion': 'compra-venta-y-alquiler-inmuebles'}) }}" class="btn btn-konstruye2">Empieza aquí</a>
                       </div>
                   {% endif %}
               </div>
           </div>

       </div>
   </div>


    <div class="container-fluid contenedor-blanco">
        <div class="container">
            <h1 class="mejores_tittle">Mejores Especialistas</h1>
        </div>
        <div class="container" style="position: relative">
            <img width="280px" style="position: absolute;bottom: -15px;" src="{{ asset('images/especialista_home.jpg') }}" alt=""/>
            <div class="col-md-8 col-md-offset-4">
                <div class="ms-staff-carousel ms-round">
                    {% if especialistas|length >= 5 %}
                    <!-- masterslider -->
                    <div class="master-slider4 " id="masterslider4">
                        {% for es in especialistas %}
                            <div class="ms-slide">
                                <a href="{{ path('show_negocio',
                                {"slug_negocio":es.negocio.slug}) }}">
                                    {% if es.negocio.logo is not null %}
                                        <img src="{{ asset('images/assets/blank.gif') }}" data-src="{{ vich_uploader_asset(es.negocio.logo, 'logoFile','AppBundle\\Entity\\Logo') }}" alt="lorem ipsum dolor sit"/>
                                    {% else %}
                                        <img src="http://placehold.it/150x150" alt="" />
                                    {% endif %}
                                </a>
                                {% if es.negocio.logo is not null %}
                                    <img src="{{ asset('images/assets/blank.gif') }}" data-src="{{ vich_uploader_asset(es.negocio.logo, 'logoFile','AppBundle\\Entity\\Logo') }}" alt="lorem ipsum dolor sit"/>
                                {% else %}
                                    <img src="http://placehold.it/150x150" alt="" />
                                {% endif %}
                                <div class="ms-info">
                                    <a href="{{ path('show_negocio',
                                    {"slug_negocio":es.negocio.slug}) }}"><h3>{{ es.negocio.nombre }}</h3></a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <!-- end of masterslider -->
                    <div class="ms-staff-info" id="staff-info4"></div>
                    {% else %}
                        <div class="mensaje-default-blanco">
                            <h1>¡Descrube excelentes especialistas!</h1>
                            <h2>y hazlos tus favoritos</h2>
                            <a href="{{ path('lisdato_seccion',{'slug_seccion': 'especialistas-servicios-personales'}) }}" class="btn btn-konstruye2">Empieza aquí</a>
                        </div>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>


    <div class="container-fluid contenedor-transparente">
        <div class="container">
            <h1 class="mejores_tittle"><span>Mejores Constructoras e Inmobiliarias</span></h1>
        </div>
        <div class="container" style="position: relative">
            <img width="280px" style="position: absolute;bottom: -15px;right: 0" src="{{ asset('images/comprayventa_home.png') }}" alt=""/>
            <div class="col-md-8">
                <div class="ms-staff-carousel ms-round">
                    {% if imobiliarias|length >= 5 %}
                    <!-- masterslider -->
                    <div class="master-slider2 " id="masterslider2">
                        {% for im in imobiliarias %}
                            <div class="ms-slide">
                                <a href="{{ path('show_negocio',
                                {"slug_negocio":im.negocio.slug}) }}">
                                    {% if im.negocio.logo is not null %}
                                        <img src="{{ asset('images/assets/blank.gif') }}" data-src="{{ vich_uploader_asset(im.negocio.logo, 'logoFile','AppBundle\\Entity\\Logo') }}" alt="lorem ipsum dolor sit"/>
                                    {% else %}
                                        <img src="http://placehold.it/150x150" alt="" />
                                    {% endif %}

                                </a>
                                {% if im.negocio.logo is not null %}
                                    <img src="{{ asset('images/assets/blank.gif') }}" data-src="{{ vich_uploader_asset(im.negocio.logo, 'logoFile','AppBundle\\Entity\\Logo') }}" alt="lorem ipsum dolor sit"/>
                                {% else %}
                                    <img src="http://placehold.it/150x150" alt="" />
                                {% endif %}
                                <div class="ms-info">
                                    <a href="{{ path('show_negocio',
                                    {"slug_negocio":im.negocio.slug}) }}"><h3>{{ im.negocio.nombre }}</h3></a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <!-- end of masterslider -->
                    <div class="ms-staff-info" id="staff-info"></div>
                    {% else %}
                        <div class="mensaje-default-transparente">
                            <h1>¡Descrube destacadas inmobiliarias!</h1>
                            <h2>y hazlos tus favoritos</h2>
                            <a href="{{ path('lisdato_seccion',{'slug_seccion': 'constructoras-e-inmobiliarias'}) }}" class="btn btn-konstruye2">Empieza aquí</a>
                        </div>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>




{% endblock fos_user_content %}




{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/masterslider.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/jquery.easing.min.js') }}" type="text/javascript"></script>

    <script>


        $("#button1").addClass("active");



        $("#button1").click(function(){
            $("#button2").removeClass("active");
            $("#button1").addClass("active");
            $("#buscador2").hide();
            $("#buscador1").show();
        });
        $("#button2").click(function(){
            $("#button1").removeClass("active");
            $("#button2").addClass("active");
            $("#buscador1").hide();
            $("#buscador2").show();
        });




        function monkeyPatchAutocomplete() {

            // Don't really need to save the old fn,
            // but I could chain if I wanted to
            var oldFn = $.ui.autocomplete.prototype._renderItem;

            $.ui.autocomplete.prototype._renderItem = function( ul, item) {
                var re = new RegExp("^" + this.term, "i") ;
                var t = item.label.replace(re,"<span style='font-weight:bold;color:#009FE3'>" + this.term + "</span>");
                return $( "<li></li>" )
                        .data( "item.autocomplete", item )
                        .append( "<a>" + t + "</a>" )
                        .appendTo( ul );
            };
        }
        monkeyPatchAutocomplete();
        var s1_found_data = false;
        $( "#buscador1 form input" ).autocomplete({
            source: function( request, response ) {
                var seccion = $("#buscador1 form .selectpicker").val();
                if(seccion==""){
                    noty({
                        text: '¡Escoja una categoria primero!',
                        animation: {
                            open: 'animated bounceInLeft', // Animate.css class names
                            close: 'animated bounceOutRight', // Animate.css class names
                            easing: 'swing', // easing
                            speed: 800 // opening & closing animation speed
                        },
                        theme:'defaultTheme',
                        'layout':'bottomCenter',
                        type: 'alerta',
                        timeout:5000
                    });
                }
                var url = $("#buscador1 form").attr('data-buscar-url');
                s1_found_data = false;
                $.ajax( {
                    url: url+seccion,
                    //dataType: "jsonp",
                    data: {
                        q: request.term
                    },
                    success: function( data ) {
                        //console.log(data);
                        // Handle 'no match' indicated by [ "" ] response
                        response( data.length === 0 ? ['Ningun resultado encontrado'] : data );
                        if(data.length>0) s1_found_data = true;
                    }
                } );
            },
            minLength: 1,
            select: function( event, ui ) {
                if(!s1_found_data) return false;

                $( "#buscador1 form input").val(ui.item.label);
                $( "#buscador1 form").submit();
                //var url = $('#buscador1 form').attr('action');
                //var search = ui.item.label;
                //window.open(url+'/'+search,'_self',false);
                //$('#s2').submit();
                //alert(ui.item.label);
                //log( "Selected: " + ui.item.label );
            }
        });

        var s2_found_data = false;
        $( "#buscador2 form input" ).autocomplete({
            source: function( request, response ) {
                var url = $("#buscador2 form").attr('data-buscar-url');
                s2_found_data = false;
                $.ajax( {
                    url: url,
                    //dataType: "jsonp",
                    data: {
                        q: request.term
                    },
                    success: function( data ) {
                        // Handle 'no match' indicated by [ "" ] response
                        response( data.length === 0 ? ['Ningun resultado encontrado'] : data );
                        if(data.length>0) s2_found_data = true;
                        //response( data.length === 1 && data[ 0 ].length === 0 ? ['Ningun resultado encontrado'] : data );
                    }
                } );
            },
            minLength: 1,
            select: function( event, ui ) {
                if(!s2_found_data) return false;
                $( "#buscador2 form input").attr('value',ui.item.label);
                var url = $('#buscador2 form').attr('action');
                var search = ui.item.label;
                //window.open(url+'/'+search,'_self',false);
                $('#buscador2 form').submit();
                //alert(ui.item.label);
                //log( "Selected: " + ui.item.label );
            }
        } );

            $(document).ready(function() {
                var slider = new MasterSlider();

                slider.control('arrows' ,{insertTo:'#masterslider'});
                slider.control('bullets');

                slider.setup('masterslider' , {
                    width:1024,
                    height:768,
                    space:5,
                    grabCursor:false,
                    view:'basic',
                    loop:true,
                    autoplay:true,
                    layout:'fullscreen',
                    fullscreenMargin:50,
                    speed:20
                });


                var slider2 = new MasterSlider();
                slider2.setup('masterslider2' , {
                    loop:true,
                    width:150,
                    height:150,
                    speed:20,
                    view:'focus',
                    preload:0,
                    grabCursor:false,
                    space:0,
                    space:35,
                    viewOptions:{centerSpace:1.6}
                });
                slider2.control('arrows');
                slider2.control('slideinfo',{insertTo:'#staff-info'});


                var slider3 = new MasterSlider();
                slider3.setup('masterslider3' , {
                    loop:true,
                    width:150,
                    height:150,
                    speed:20,
                    view:'focus',
                    preload:0,
                    grabCursor:false,
                    space:0,
                    space:35,
                    viewOptions:{centerSpace:1.6}
                });
                slider3.control('arrows');
                slider3.control('slideinfo',{insertTo:'#staff-info3'});


                var slider4 = new MasterSlider();
                slider4.setup('masterslider4' , {
                    loop:true,
                    width:150,
                    height:150,
                    speed:20,
                    view:'focus',
                    preload:0,
                    grabCursor:false,
                    space:0,
                    space:35,
                    viewOptions:{centerSpace:1.6}
                });
                slider4.control('arrows');
                slider4.control('slideinfo',{insertTo:'#staff-info4'});

                var slider5 = new MasterSlider();
                slider5.setup('masterslider5' , {
                    loop:true,
                    width:150,
                    height:150,
                    speed:20,
                    view:'focus',
                    preload:0,
                    grabCursor:false,
                    space:0,
                    space:35,
                    viewOptions:{centerSpace:1.6}
                });
                slider5.control('arrows');
                slider5.control('slideinfo',{insertTo:'#staff-info5'});


                $(window).bind('scroll', function () {
                    if ($(window).scrollTop() > 768) {
                        $('.nav-principal2').fadeIn("slow");
                        $('.nav-principal2').addClass("navbar-fixed-top");
                    } else {
                        $('.nav-principal2').fadeOut("slow");
                    }
                });


                $("#buscador1 .btn-group.bootstrap-select,#buscador2 .btn-group.bootstrap-select").prepend('<i class="fa fa-chevron-down" aria-hidden="true"></i>');
            });






    </script>


{% endblock javascripts %}


