{% extends 'FOSUserBundle::layout.html.twig' %}
{% block title %}
    <title>Konstruye.pe | Ver más</title>
{% endblock title %}
{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block fos_user_content %}

    <div class="container-fluid">
        <div class="row hidden-sm hidden-xs" style="height: 300px;overflow: hidden">
            <img width="100%" src="{{ asset('images/assets/celima_banner.jpg') }}" alt="">
        </div>
    </div>
    <div class="container product-section" style="padding: 0">
        <div class="container-breadcrumb marging-top">
            {{ wo_render_breadcrumbs() }}
        </div>
        <div class="col-md-3" style="padding: 0;padding-right: 10px">
            <div class="filtro three-filtro">
                <h1 class="titulo-filtros">Filtros</h1>
                {{ out|raw }}
            </div>
        </div>
        <div class="col-md-9 body-negocios">
            <div class="row table-filtros">
                <span>Ordenar por:</span>
                <table>
                    <tr>
                        {# sorting of properties based on query components #}
                        {#<th>{{ knp_pagination_sortable(negocios, 'Id', 'n.id') }}</th>#}
                        <th{% if productos.isSorted('cp.nota') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(productos, 'Popularidad', 'cp.nota') }}</th>
                        <th{% if productos.isSorted('p.nombre') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(productos, 'Alfabetico', 'p.nombre') }}</th>
                        {# <th>{{ knp_pagination_sortable(negocios, 'Release', ['n.date', 'n.time']) }}</th> #}
                        <th{% if productos.isSorted('p.registeredAt') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(productos, 'Más reciente ', 'p.registeredAt') }}</th>
                    </tr>
                </table>
            </div>

            <div class="row">
                {% for pro in productos %}
                    <div class="col-md-4 col-sm-4 producto-box">
                        <a href="{{ path('show_producto',{'slug_producto':pro.producto.slug}) }}">
                            <img src="http://placehold.it/220x220" alt="">
                        </a>
                        <a href="{{ path('show_producto',{'slug_producto':pro.producto.slug}) }}"><h1>{{ pro.producto.nombre }}</h1></a>
                        <a href="{{ path('show_negocio',
                        {"slug_negocio":pro.producto.negocio.slug}) }}"><h2>{{ pro.producto.negocio.nombre }}</h2></a>
                        <p>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </p>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>

{% endblock fos_user_content %}


{% block javascripts %}
    {{ parent() }}

{% endblock javascripts %}