{% extends 'FOSUserBundle::layout.html.twig' %}
{% block title %}
    <title>Konstruye.pe | Categorias</title>
{% endblock title %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/jquery.rateyo.min.css') }}">
{% endblock %}

{% block fos_user_content %}


    <div class="container-fluid">
        <div class="row" style="height: 300px;overflow: hidden">
            <img width="100%" src="{{ asset('images/assets/cementos_inka.jpg') }}" alt="">
        </div>
    </div>



    <div class="container">

        <div class="col-md-3">
            <div class="filtro">
                {% for cmain in categorias_hijas %}
                    {#{{ dump(cmain) }}#}
                    {{ include('includes/filtros_negocios.html.twig', { 'cmain': cmain,'name':app.request.get('_route'),'search':app.request.get('search') }) }}
                {% endfor %}
            </div>
        </div>

        <div class="col-md-9 body-negocios">
            <div class="row table-filtros">
                <span>Ordenar por:</span>
                <table>
                    <tr>
                        {# sorting of properties based on query components #}
                        {#<th>{{ knp_pagination_sortable(negocios, 'Id', 'n.id') }}</th>#}
                        <th{% if negocios.isSorted('cp.nota') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(negocios, 'Popularidad', 'cp.nota') }}</th>
                        <th{% if negocios.isSorted('n.nombre') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(negocios, 'Alfabetico', 'n.nombre') }}</th>
                        {# <th>{{ knp_pagination_sortable(negocios, 'Release', ['n.date', 'n.time']) }}</th> #}
                        <th{% if negocios.isSorted('n.registeredAt') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(negocios, 'Más reciente ', 'n.registeredAt') }}</th>
                    </tr>
                </table>
            </div>

            {% if negocios.items|length > 0 %}
                {% for n in negocios.items %}
                        {{ include('includes/listado_negocios.html.twig', { 'n': n }) }}
                {% endfor %}
            {% else %}
                <div class="mensaje-notfound">
                    <p><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></p>
                    <p class="text-nf">No se encontró ningun resultado.</p>
                    <p class="text-nf">Lo sentimos, no encontramos resultados para su búsqueda. Inténtalo nuevamente.</p>
                </div>
            {% endif %}
        </div>

        <div class="navigation">
            {{ knp_pagination_render(negocios,'foundation_v5_pagination.html.twig') }}
        </div>
    </div>


{% endblock fos_user_content %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery.rateyo.min.js') }}"></script>
    <script>
        {{ include('includes/js/rateyo.js') }}
    </script>
    <script>

        $(document).ready(function(){
            //FILTRO LATERAL
            var bodyFiltro = $('.body-filtro-list').show();
//            $('.body-filtro-list:not(:first)').hide();
//            $('.body-filtro-list:eq(1)').show();

            $('.titulo-filtro').click(function(){
//                console.log('click')
                $(this).toggleClass('fa fa-angle-down fa fa-angle-up');
                $(this).parent().next().children().slideToggle();
            });

        });
    </script>

{% endblock javascripts %}