{% extends 'FOSUserBundle::layout.html.twig' %}
{% block title %}
    <title>Konstruye.pe | Categorias</title>
{% endblock title %}
{% block stylesheets %}
    {{ parent() }}
    {#RateYo#}
    <link rel="stylesheet" href="{{ asset('css/jquery.rateyo.min.css') }}">
    {#RangeSlide#}
    <link rel="stylesheet" href="{{ asset('css/ion.rangeSlider.css') }}">
    <link rel="stylesheet" href="{{ asset('css/ion.rangeSlider.skinFlat.css') }}">
    <style>
        .pac-container:after {
            /* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */

            background-image: none !important;
            height: 0px;
        }
    </style>
{% endblock %}

{% block fos_user_content %}

    {#
    <input id="searchTextField" type="text" size="50" placeholder="Enter a location" autocomplete="on">
    #}
    <div class="container-fluid">
        <div class="row" style="height: 300px;overflow: hidden">
            <img width="100%" src="{{ asset('images/assets/cosapi_banner.jpg') }}" alt="">
        </div>
    </div>



    <div class="container">
        <div id="search-cop3">
            <form class="buscador_categorias" role="search">
                <select class="selectpicker">
                    <option value="0">Comprar</option>
                    <option value="1">Alquilar</option>
                    <option value="2">Vender</option>
                    <option value="3">Hipotecar</option>
                </select>
                <select class="selectpicker">
                    <option value="0">Departamento</option>
                    <option value="1">Casa</option>
                    <option value="2">Departamento</option>
                    <option value="3">Oficina</option>
                </select>
                <div class="form-group buscador">
                    <input id="buscardor-form-inmuebles" type="text" class="form-control" placeholder="Ingresa Departamento,Provincia,Distrito">
                </div>
            </form>
        </div>
    </div>
{#{{ dump(negocios) }}#}
    <div class="container">
        <div class="col-md-3">
            {#{% for cmain in categorias_hijas %}#}
                {#{{ include('includes/filtros_negocios.html.twig', { 'cmain': cmain }) }}#}
            {#{% endfor %}#}
            <div class="filtro">

                <div class="container-filtro">
                    <div class="title-filtro">
                        <h4 class="titulo-filtro">Precio<i class="fa fa-angle-down" aria-hidden="true"></i></h4>
                    </div>
                    <div class="body-filtro">
                        <div class="body-filtro-list">
                            <div>
                                <div>
                                    <input type="text" id="range" value="" name="range" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container-filtro">
                    <div class="title-filtro">
                        <h4 class="titulo-filtro">Dormitorios <i class="fa fa-angle-down" aria-hidden="true"></i></h4>
                    </div>
                    <div class="body-filtro">
                        <div class="body-filtro-list">
                            <ul>
                                <li><a href="#">1 Dormitorios <span>(100)</span></a></li>
                                <li><a href="#">2 Dormitorios <span>(25)</span></a></li>
                                <li><a href="#">3 Dormitorios <span>(10)</span></a></li>
                                <li><a href="#">4 Dormitorios <span>(26)</span></a></li>
                                <li><a href="#">5 Dormitorios <span>(700)</span></a></li>
                                <li><a href="#">6 Dormitorios <span>(1020)</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="container-filtro">
                    <div class="title-filtro">
                        <h4 class="titulo-filtro">Servicios <i class="fa fa-angle-down" aria-hidden="true"></i></h4>
                    </div>
                    <div class="body-filtro">
                        <div class="body-filtro-list">
                            <ul>
                                <li><a href="#">Gimnasio <span>(59)</span></a></li>
                                <li><a href="#">Parrilla <span>(450)</span></a></li>
                                <li><a href="#">Areas Verdes <span>(1210)</span></a></li>
                                <li><a href="#">Video Vigilancia <span>(1930)</span></a></li>
                                <li><a href="#">Control de Acceso <span>(39951)</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>



            </div>

            <div class="precio">

            </div>

            <div class="servicios">

            </div>
        </div>
        {#{{ dump(negocios.items) }}#}
        <div class="col-md-9 body-negocios">
            {% for n in negocios.items %}
                {{ include('includes/listado_negocios.html.twig', { 'n': n , type: 'inmueble'}) }}
            {% endfor %}
        </div>
        <div class="navigation">
            {{ knp_pagination_render(negocios,'foundation_v5_pagination.html.twig') }}
        </div>
    </div>


{% endblock fos_user_content %}


{% block javascripts %}
    {{ parent() }}
    {#Rateyo#}
    <script src="{{ asset('js/jquery.rateyo.min.js') }}"></script>
    {#RangeSlide#}
    <script src="{{ asset('js/ion.rangeSlider.js') }}"></script>
    {#RangeSlide#}
    <script>
        $("#range").ionRangeSlider({
            hide_min_max: true,
            keyboard: false,
            min: 0,
            max: 500000,
            from: 0,
            to: 200000,
            type: 'double',
            step: 1,
            prefix: "s/.",
            grid: true,
        });
    </script>
    <script>
        function initialize() {

            /*var displaySuggestions = function(predictions, status) {
             if (status != google.maps.places.PlacesServiceStatus.OK) {
             alert(status);
             return;
             }

             predictions.forEach(function(prediction) {
             var li = document.createElement('li');
             li.appendChild(document.createTextNode(prediction.description));
             document.getElementById('results').appendChild(li);
             });
             };*/

            var options = {
                types: ['(cities)'],
                componentRestrictions: {country: "pe"}
            };

            var input = document.getElementById('searchTextField');
            var autocomplete = new google.maps.places.Autocomplete(input,options);
            //var service = new google.maps.places.AutocompleteService();
            //service.getQueryPredictions({ input: 'lima' }, displaySuggestions);
        }
    </script>
    <!--<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcllALlFAfHCaSCv1Oqmq0_wwF5qmGc_A&libraries=places&language=es&callback=initialize"
            type="text/javascript"></script>-->
    <script>
        {{ include('includes/js/rateyo.js') }}


        $( "#buscardor-form-inmuebles").autocomplete({
            source: function( request, response ) {
                var url = '{{ path('show_ubicaciones_buscador') }}';
                $.ajax( {
                    url: url,
                    //dataType: "jsonp",
                    data: {
                        q: request.term
                    },
                    success: function( data ) {
                        // Handle 'no match' indicated by [ "" ] response
                        response( data.length === 0 ? ['Ningun resultado encontrado'] : data );
                        //response( data.length === 1 && data[ 0 ].length === 0 ? ['Ningun resultado encontrado'] : data );
                    }
                } );
            },
            minLength: 1,
        } );
        //google.maps.event.addDomListener(window, 'load', initialize);
    </script>

    <script>
        $(document).ready(function(){
            var bodyFiltro = $('.body-filtro-list').show();
            $('.body-filtro-list:last').hide();


            $('.titulo-filtro').click(function(){
               $(this).parent().next().children().slideToggle();
            });
        });
    </script>
{% endblock javascripts %}