{% extends 'FOSUserBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/jquery.rateyo.min.css') }}">
{% endblock %}

{% block fos_user_content %}
    <div class="container-fluid">
        <div class="row">
            <img width="100%" src="{{ asset('images/assets/cosapi_banner.jpg') }}" alt="">
        </div>
    </div>

    <div class="container">
        <div id="search-cop3">
            <form class="buscador_categorias" role="search">
                <select class="selectpicker">
                    <option value="0">Comprar</option>
                    <option value="1">Alquilar</option>
                    <option value="2">Vender</option>
                    <option value="3">Hipotecar</option>
                </select>
                <select class="selectpicker">
                    <option value="0">Departamento</option>
                    <option value="1">Casa</option>
                    <option value="2">Departamento</option>
                    <option value="3">Oficina</option>
                </select>
                <div class="form-group buscador">
                    <input type="text" class="form-control" placeholder="Ingresa Departamento,Provincia,Distrito o Proyecto">
                </div>
            </form>
        </div>
    </div>

    <div class="container">

        <div class="col-md-3">
            {% for cmain in categorias_hijas %}
                {{ include('includes/filtros_negocios.html.twig', { 'cmain': cmain }) }}
            {% endfor %}
        </div>

        <div class="col-md-9">
            {% for n in negocios.items %}
                {{ include('includes/listado_negocios.html.twig', { 'n': n }) }}
            {% endfor %}
        </div>
    </div>


{% endblock fos_user_content %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery.rateyo.min.js') }}"></script>
    <script>
        {{ include('includes/js/rateyo.js') }}
    </script>
{% endblock javascripts %}