{% extends 'FOSUserBundle::layout.html.twig' %}
{% block title %}
    <title>Konstruye.pe | Categorias</title>
{% endblock title %}
{% block stylesheets %}
    {{ parent() }}
    {#RateYo#}
    <link rel="stylesheet" href="{{ asset('css/jquery.rateyo.min.css') }}">
    {#RangeSlide#}
    <link rel="stylesheet" href="{{ asset('css/ion.rangeSlider.css') }}">
    <link rel="stylesheet" href="{{ asset('css/ion.rangeSlider.skinFlat.css') }}">
    <style>
        .pac-container:after {
            /* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */

            background-image: none !important;
            height: 0px;
        }
    </style>
{% endblock %}

{% block fos_user_content %}
    
    {#
    <input id="searchTextField" type="text" size="50" placeholder="Enter a location" autocomplete="on">
    #}
    <div class="container-fluid">
        <div class="row" style="height: 300px;overflow: hidden">
            <img width="100%" src="{{ asset('images/assets/cosapi_banner.jpg') }}" alt="">
        </div>
    </div>



    <div class="container">
        <div id="search-cop3">
            <form class="buscador_categorias" method="get" action="{{ path('lisdato_seccion',negocios.params) }}" role="search">
                <select class="selectpicker" name="operacion">
                    {% for operacion in operaciones %}
                        {% if(negocios.params.operacion is defined and negocios.params.operacion == operacion.id) %}
                            <option selected value="{{ operacion.id }}" >{{ operacion.nombre }}</option>
                        {% else %}
                            <option value="{{ operacion.id }}">{{ operacion.nombre }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <select class="selectpicker" name="structure">
                    {% for structur in structures %}
                        {% if(negocios.params.structure is defined and negocios.params.structure == structur.id)%}
                            <option selected value="{{ structur.id }}" >{{ structur.nombre }}</option>
                        {% else %}
                            <option value="{{ structur.id }}" >{{ structur.nombre }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <div class="form-group buscador">
                    {% if(negocios.params.lugar is defined ) %}
                        <input id="buscardor-form-inmuebles" name="lugar" value="{{ negocios.params.lugar }}" type="text" class="form-control" placeholder="Ingresa Departamento,Provincia,Distrito">
                    {% else %}
                        <input id="buscardor-form-inmuebles" name="lugar" type="text" class="form-control" placeholder="Ingresa Departamento,Provincia,Distrito">
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
{#{{ dump(negocios) }}#}
    <div class="container">

        <div class="col-md-3">
            {#{% for cmain in categorias_hijas %}#}
                {#{{ include('includes/filtros_negocios.html.twig', { 'cmain': cmain }) }}#}
            {#{% endfor %}#}
            <div class="filtro">

                <div class="container-filtro">
                    <div class="title-filtro">
                        <h4 class="titulo-filtro">Precio <i class="fa fa-angle-up" aria-hidden="true"></i></h4>
                    </div>
                    <div class="body-filtro">
                        <div class="body-filtro-list">
                            <div>
                                <div>
                                    <input type="text" class="jsRangeSlider" id="range" value="" name="range" />
                                </div>
                            </div>
                        </div>
                        {#FORMULARIO DE PRECIO#}
                        <form class="formIonSlider" method="get" action="{{ path('lisdato_seccion',negocios.params) }}" >
                            {% if negocios.params.preciomin is defined %}
                                <input type="text" name="preciomin" class="inputPrecioMin" value="{{negocios.params.preciomin}}" />
                            {% else %}
                                <input type="text" name="preciomin" class="inputPrecioMin" value="0" />
                            {% endif %}

                            {% if negocios.params.preciomax is defined %}
                                <input type="text" name="preciomax" class="inputPrecioMax" value="{{ negocios.params.preciomax }}" />
                            {% else %}
                                <input type="text" name="preciomax" class="inputPrecioMax" value="0" />
                            {% endif %}
                            <button class="btn btn-konstruye">Buscar Rango de Precio</button>
                        </form>
                    </div>
                    {#{{ dump(structures) }}#}
                    {#{{ dump(operaciones) }}#}
                    {{ dump(negocios.params) }}
                    {{ dump(domitorios) }}
                    {{ dump(servicios) }}
                    {{ dump(generales) }}
                </div>

                <div class="container-filtro">

                    <div class="title-filtro">
                        <h4 class="titulo-filtro">Dormitorios <i class="fa fa-angle-up" aria-hidden="true"></i></h4>
                    </div>

                    <div class="body-filtro">
                        <div class="body-filtro-list">
                            <ul>
                                {#{{ dump(negocios) }}#}
                                {% set paramsDorm = negocios.params|merge({'dormi': '1'}) %}
                                <li><a href="{{ path('lisdato_seccion',paramsDorm) }}">1 Dormitorios <span>(100)</span></a></li>
                                {% set paramsDorm = negocios.params|merge({'dormi':'2'}) %}
                                <li><a href="{{ path('lisdato_seccion',paramsDorm) }}">2 Dormitorios <span>(25)</span></a></li>
                                {% set paramsDorm = negocios.params|merge({'dormi':'3'}) %}
                                <li><a href="{{ path('lisdato_seccion',paramsDorm) }}">3 Dormitorios <span>(10)</span></a></li>
                                {% set paramsDorm = negocios.params|merge({'dormi':'4'}) %}
                                <li><a href="{{ path('lisdato_seccion',paramsDorm) }}">4 Dormitorios <span>(26)</span></a></li>
                                {% set paramsDorm = negocios.params|merge({'dormi':'5'}) %}
                                <li><a href="{{ path('lisdato_seccion',paramsDorm) }}">5 Dormitorios <span>(700)</span></a></li>
                                {% set paramsDorm = negocios.params|merge({'dormi':'6'}) %}
                                <li><a href="{{ path('lisdato_seccion',paramsDorm) }}">6 Dormitorios <span>(1020)</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="container-filtro">
                    <div class="title-filtro">
                        <h4 class="titulo-filtro">Servicios <i class="fa fa-angle-down" aria-hidden="true"></i></h4>
                    </div>
                    <div class="body-filtro">
                        <div class="body-filtro-list">
                            <ul>
                                {% set paramsServ = negocios.params|merge({'servicio': '1'}) %}
                                <li><a href="{{ path('lisdato_seccion',paramsServ) }}">Gimnasio <span>(59)</span></a></li>
                                {% set paramsServ = negocios.params|merge({'servicio':'2'}) %}
                                <li><a href="{{ path('lisdato_seccion',paramsServ) }}">Video Vigilancia <span>(450)</span></a></li>
                                {% set paramsServ = negocios.params|merge({'servicio':'3'}) %}
                                <li><a href="{{ path('lisdato_seccion',paramsServ) }}">Parrilla <span>(1210)</span></a></li>
                                {% set paramsServ = negocios.params|merge({'servicio':'4'}) %}
                                <li><a href="{{ path('lisdato_seccion', paramsServ) }}">Control de Acceso <span>(1930)</span></a></li>
                                {% set paramsServ = negocios.params|merge({'servicio':'5'}) %}
                                <li><a href="{{ path('lisdato_seccion', paramsServ) }}">Juegos Infantiles <span>(39951)</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="container-filtro">
                    <div class="title-filtro">
                        <h4 class="titulo-filtro">Generales <i class="fa fa-angle-down" aria-hidden="true"></i></h4>
                    </div>
                    <div class="body-filtro">
                        <div class="body-filtro-list">
                            <ul>
                                {%  set paramsGene = negocios.params|merge({'general':'1'}) %}
                                <li><a href="{{ path('lisdato_seccion',paramsGene) }}">Intercomunicador <span>(1350)</span></a></li>
                                {%  set paramsGene = negocios.params|merge({'general':'2'}) %}
                                <li><a href="{{ path('lisdato_seccion',paramsGene) }}">Terraza <span>(1286)</span></a></li>
                                {%  set paramsGene = negocios.params|merge({'general':'3'}) %}
                                <li><a href="{{ path('lisdato_seccion',paramsGene) }}">Reposteros de cocinas <span>(1210)</span></a></li>
                                {%  set paramsGene = negocios.params|merge({'general':'4'}) %}
                                <li><a href="{{ path('lisdato_seccion',paramsGene) }}">Ascensor <span>(1930)</span></a></li>
                                {%  set paramsGene = negocios.params|merge({'general':'6'}) %}
                                <li><a href="{{ path('lisdato_seccion',paramsGene) }}">Jardin <span>(39951)</span></a></li>
                                {%  set paramsGene = negocios.params|merge({'general':'8'}) %}
                                <li><a href="{{ path('lisdato_seccion',paramsGene) }}">Piscina <span>(39951)</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="container-filtro">
                    <div class="title-filtro">
                        <h4 class="titulo-filtro">Antiguedad <i class="fa fa-angle-down" aria-hidden="true"></i></h4>
                    </div>
                    <div class="body-filtro">
                        <div class="body-filtro-list">
                            <ul>
                                <li><a href="#">A estrenar <span>(35)</span></a></li>
                                <li><a href="#">En construccion <span>(125)</span></a></li>
                                <li><a href="#">Entre 10 y 20 a침os <span>(77)</span></a></li>
                                <li><a href="#">Entre 20 y 50 a침os <span>(24)</span></a></li>
                                <li><a href="#">Entre 5 y 10 a침os <span>(78)</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>



            </div>

            <div class="precio">

            </div>

            <div class="servicios">

            </div>
        </div>
        {#{{ dump(negocios.items) }}#}
        <div class="col-md-9 body-negocios">
            <div class="row table-filtros">
                <span>Ordenar por:</span>
                <table>
                    <tr>
                        {# sorting of properties based on query components #}
                        {#<th>{{ knp_pagination_sortable(negocios, 'Id', 'n.id') }}</th>#}
                        <th{% if negocios.isSorted('cp.nota') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(negocios, 'Popularidad', 'cp.nota') }}</th>
                        <th{% if negocios.isSorted('n.nombre') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(negocios, 'Alfabetico', 'n.nombre') }}</th>
                        {# <th>{{ knp_pagination_sortable(negocios, 'Release', ['n.date', 'n.time']) }}</th> #}
                        <th{% if negocios.isSorted('n.registeredAt') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(negocios, 'M치s reciente ', 'n.registeredAt') }}</th>
                    </tr>
                </table>
            </div>
            {% for n in negocios.items %}
                {{ include('includes/listado_negocios.html.twig', { 'n': n , type: 'inmueble'}) }}
            {% endfor %}
        </div>
        <div class="navigation">
            {{ knp_pagination_render(negocios,'foundation_v5_pagination.html.twig') }}
        </div>
    </div>


{% endblock fos_user_content %}


{% block javascripts %}
    {{ parent() }}
    {#Rateyo#}
    <script src="{{ asset('js/jquery.rateyo.min.js') }}"></script>
    {#RangeSlide#}
    <script src="{{ asset('js/ion.rangeSlider.js') }}"></script>
    {#RangeSlide#}
    <script>
        $(document).ready( function(){
            var rangeSlider = $('.jsRangeSlider');
            var inpPreMin = $('.inputPrecioMin');
            var inpPreMax = $('.inputPrecioMax');
            var instance;

            var preciomin = inpPreMin.val();
            console.log(preciomin);
            var preciomax = inpPreMax.val();
            console.log(preciomax);



            {#var preciomin = {{ negocios.params.preciomin }};#}
            {#var preciomax = {{ negocios.params.preciomax }};#}



//            if(typeof  !== 'undefined'){
//                 = ;
//            }
            {#}else if({{ negocios.params.preciomin  }}){#}
                {#preciomin = {{ negocios.params.preciomin }};#}
                {#console.log(typeof(preciomin));#}
            {#}#}


            //IONRANGESLIDER
            $("#range").ionRangeSlider({
                hide_min_max: true,
                keyboard: false,
                min: 0,
                max: 200000,
//                from: 100000,
//                to: 180000,
                from: preciomin,
                to: preciomax,
                type: 'double',
                step: 1,
                prefix: "s/.",
                grid: true,
                grid_num: 2,
                onStart: updateInputs,
                onChange: updateInputs,
                onFinish: updateInputs
            });

            //OBTENIENDO VALOR IONRANGESLIDER
            function updateInputs (data) {
                //console.log(data);
                inpPreMin.prop("value", data.from);
                inpPreMax.prop("value", data.to);
            }

//            function updateInputsChange (data) {
//                //console.log(data);
//                inpPreMin.prop("value", data.from);
//                inpPreMax.prop("value", data.to);
//
////                $('.formIonSlider').submit();
//            }

            instance = rangeSlider.data("ionRangeSlider");

        })

    </script>
    <script>
        function initialize() {

            /*var displaySuggestions = function(predictions, status) {
             if (status != google.maps.places.PlacesServiceStatus.OK) {
             alert(status);
             return;
             }

             predictions.forEach(function(prediction) {
             var li = document.createElement('li');
             li.appendChild(document.createTextNode(prediction.description));
             document.getElementById('results').appendChild(li);
             });
             };*/

            var options = {
                types: ['(cities)'],
                componentRestrictions: {country: "pe"}
            };

            var input = document.getElementById('searchTextField');
            var autocomplete = new google.maps.places.Autocomplete(input,options);
            //var service = new google.maps.places.AutocompleteService();
            //service.getQueryPredictions({ input: 'lima' }, displaySuggestions);
        }
    </script>
    <!--<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcllALlFAfHCaSCv1Oqmq0_wwF5qmGc_A&libraries=places&language=es&callback=initialize"
            type="text/javascript"></script>-->
    <script>
        {{ include('includes/js/rateyo.js') }}


        $( "#buscardor-form-inmuebles").autocomplete({
            source: function( request, response ) {
                var url = '{{ path('show_ubicaciones_buscador') }}';
                $.ajax( {
                    url: url,
                    //dataType: "jsonp",
                    data: {
                        q: request.term
                    },
                    success: function( data ) {
                        // Handle 'no match' indicated by [ "" ] response
                        response( data.length === 0 ? ['Ningun resultado encontrado'] : data );
                        //response( data.length === 1 && data[ 0 ].length === 0 ? ['Ningun resultado encontrado'] : data );
                    }
                } );
            },
            minLength: 1,
            select: function( event, ui ) {
                $( "#buscardor-form-inmuebles").val(ui.item.label);
                $(".buscador_categorias").submit();
            }
        } );
        //google.maps.event.addDomListener(window, 'load', initialize);
    </script>

    <script>
        $(document).ready(function(){
            //FILTRO LATERAL
            var bodyFiltro = $('.body-filtro-list').show();
            //$('.body-filtro-list:not(:first)').hide();
            //$('.body-filtro-list:eq(1)').show();

            $('.titulo-filtro').click(function(){
               $(this).children().toggleClass('fa fa-angle-down fa fa-angle-up');
               $(this).parent().next().children().slideToggle();
            });

        });
    </script>
{% endblock javascripts %}