{% extends 'FOSUserBundle::layout.html.twig' %}
{% block title %}
    <title>Konstruye.pe | Categorias</title>
{% endblock title %}
{% block stylesheets %}
    {{ parent() }}
    {#RateYo#}
    <link rel="stylesheet" href="{{ asset('css/jquery.rateyo.min.css') }}">
    {#RangeSlide#}
    <link rel="stylesheet" href="{{ asset('css/ion.rangeSlider.css') }}">
    <link rel="stylesheet" href="{{ asset('css/ion.rangeSlider.skinFlat.css') }}">
    <style>
        .pac-container:after {
            /* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */

            background-image: none !important;
            height: 0px;
        }
    </style>
{% endblock %}

{% block fos_user_content %}

    {#
    <input id="searchTextField" type="text" size="50" placeholder="Enter a location" autocomplete="on">
    #}
    <div class="container-fluid">
        <div class="row" style="height: 300px;overflow: hidden;position: relative">
            <img width="100%" src="{{ asset('images/assets/cosapi_banner.jpg') }}" alt="">

            <div id="search-cop3">
                <form class="buscador_categorias" method="get" action="{{ path('lisdato_seccion',negocios.params) }}" role="search">
                    <select class="selectpicker" name="operacion">
                        {% for operacion in operaciones %}
                            {% if(negocios.params.operacion is defined and negocios.params.operacion == operacion.id) %}
                                <option selected value="{{ operacion.id }}" >{{ operacion.nombre }}</option>
                            {% else %}
                                <option value="{{ operacion.id }}">{{ operacion.nombre }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <select class="selectpicker" name="structure">
                        {% for structur in structures %}
                            {% if(negocios.params.structure is defined and negocios.params.structure == structur.id)%}
                                <option selected value="{{ structur.id }}" >{{ structur.nombre }}</option>
                            {% else %}
                                <option value="{{ structur.id }}" >{{ structur.nombre }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <div class="form-group buscador">
                        {% if(negocios.params.lugar is defined ) %}
                            <input id="buscardor-form-inmuebles" name="lugar" value="{{ negocios.params.lugar }}" type="text" class="form-control" placeholder="Ingresa Departamento,Provincia,Distrito">
                        {% else %}
                            <input id="buscardor-form-inmuebles" name="lugar" type="text" class="form-control" placeholder="Ingresa Departamento,Provincia,Distrito">
                        {% endif %}
                    </div>
                </form>
            </div>


        </div>
    </div>

{#{{ dump(negocios) }}#}
    <div class="container" style="padding: 0">

        <div class="col-md-3" style="padding: 0;padding-right: 10px">
            {#{% for cmain in categorias_hijas %}#}
                {#{{ include('includes/filtros_negocios.html.twig', { 'cmain': cmain }) }}#}
            {#{% endfor %}#}
            <div class="filtro">

                <div class="container-filtro">
                    <div class="title-filtro">
                        <h4 class="titulo-filtro">Precio <i class="fa fa-angle-up" aria-hidden="true"></i></h4>
                    </div>
                    <div class="body-filtro">
                        <div class="body-filtro-list">
                            <div>
                                <div>
                                    <input type="text" class="jsRangeSlider" id="range" value="" name="range" />
                                </div>
                            </div>
                        </div>
                        {#FORMULARIO DE PRECIO#}
                        <form class="formIonSlider" method="get" action="{{ path('lisdato_seccion',negocios.params) }}" >

                            {% for key,p in negocios.params %}
                                {% if key!='slug_seccion' %}
                                    <input type="hidden" name="{{ key }}"  value="{{ p }}" />
                                {% endif %}
                            {% endfor %}
                            {% if negocios.params['preciomin'] is not defined %}
                                <input type="hidden" name="preciomin"  value="{{ precio_min_default }}" />
                            {% endif %}
                            {% if negocios.params['preciomax'] is not defined %}
                                <input type="hidden" name="preciomax"  value="{{ precio_max_default }}" />
                            {% endif %}

                            <button class="btn btn-konstruye" style="margin-top: 10px">Buscar Rango de Precio</button>
                        </form>
                    </div>
                    {#{{ dump(structures) }}
                    {{ dump(operaciones) }}
                    {{ dump(negocios.params) }}
                    {{ dump(servicios) }}
                    {{ dump(generales) }}#}
                </div>

                <div class="container-filtro">

                    <div class="title-filtro">
                        <h4 class="titulo-filtro">Dormitorios <i class="fa fa-angle-up" aria-hidden="true"></i></h4>
                    </div>

                    <div class="body-filtro">
                        <div class="body-filtro-list">
                            <ul>
                                {% for d in domitorios %}
                                    {% set paramsDorm = negocios.params|merge({'dormi': d.dormitorios}) %}
                                    {% if negocios.params['dormi'] is defined and negocios.params['dormi']==d.dormitorios %}
                                        <li>
                                            <a class="actif default-a" href="{{ path('lisdato_seccion',paramsDorm) }}">{{d.dormitorios ~ ' Dormitorios'  }} <span>{{ '(' ~d.cantidad~ ')' }}</span></a>
                                            {% set arr = [] %}
                                            {% for key,p in paramsDorm %}
                                                {% if key !='dormi' %}
                                                    {% set arr = arr|merge({(key):p}) %}
                                                {% endif %}
                                            {% endfor %}
                                            <a class="select" href="{{ path('lisdato_seccion',arr) }}"><i class="fa fa-times" aria-hidden="true"></i></a>
                                        </li>
                                    {% else %}
                                        <li><a class="default-a" href="{{ path('lisdato_seccion',paramsDorm) }}">{{d.dormitorios ~ ' Dormitorios'  }} <span>{{ '(' ~d.cantidad~ ')' }}</span></a></li>
                                    {% endif %}

                                {% endfor %}

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="container-filtro">
                    <div class="title-filtro">
                        <h4 class="titulo-filtro">Servicios <i class="fa fa-angle-down" aria-hidden="true"></i></h4>
                    </div>
                    <div class="body-filtro">
                        <div class="body-filtro-list">
                            <ul>
                                {% for s in servicios %}
                                    {% set paramsServ = negocios.params|merge({'servicio': s.servicio.id}) %}
                                    {% if negocios.params['servicio'] is defined and negocios.params['servicio']==s.servicio.id %}
                                        <li>
                                            <a class="actif default-a" href="{{ path('lisdato_seccion',paramsServ) }}">{{ s.servicio.nombre }} <span>{{ '(' ~s.cantidad~ ')' }}</span></a>
                                            {% set arr = [] %}
                                            {% for key,p in paramsServ %}
                                                {% if key !='servicio' %}
                                                    {% set arr = arr|merge({(key):p}) %}
                                                {% endif %}
                                            {% endfor %}
                                            <a class="select" href="{{ path('lisdato_seccion',arr) }}"><i class="fa fa-times" aria-hidden="true"></i></a>
                                        </li>

                                    {% else %}
                                         <li><a class="default-a" href="{{ path('lisdato_seccion',paramsServ) }}">{{ s.servicio.nombre }} <span>{{ '(' ~s.cantidad~ ')' }}</span></a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="container-filtro">
                    <div class="title-filtro">
                        <h4 class="titulo-filtro">Generales <i class="fa fa-angle-down" aria-hidden="true"></i></h4>
                    </div>
                    <div class="body-filtro">
                        <div class="body-filtro-list">
                            <ul>
                                {% for g in generales %}
                                    {%  set paramsGene = negocios.params|merge({'general':g.general.id}) %}
                                    {% if negocios.params['general'] is defined and negocios.params['general']==g.general.id %}
                                        <li>
                                            <a class="actif default-a" href="{{ path('lisdato_seccion',paramsGene) }}">{{ g.general.nombre }} <span>{{ '(' ~g.cantidad~ ')' }}</span></a>
                                            {% set arr = [] %}
                                            {% for key,p in paramsGene %}
                                                {% if key !='general' %}
                                                    {% set arr = arr|merge({(key):p}) %}
                                                {% endif %}
                                            {% endfor %}
                                            <a class="select" href="{{ path('lisdato_seccion',arr) }}"><i class="fa fa-times" aria-hidden="true"></i></a>
                                        </li>
                                    {% endif %}
                                    <li><a class="default-a" href="{{ path('lisdato_seccion',paramsGene) }}">{{ g.general.nombre }} <span>{{ '(' ~g.cantidad~ ')' }}</span></a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                {#<div class="container-filtro">
                    <div class="title-filtro">
                        <h4 class="titulo-filtro">Antiguedad <i class="fa fa-angle-down" aria-hidden="true"></i></h4>
                    </div>
                    <div class="body-filtro">
                        <div class="body-filtro-list">
                            <ul>
                                <li><a href="#">A estrenar <span>(35)</span></a></li>
                                <li><a href="#">En construccion <span>(125)</span></a></li>
                                <li><a href="#">Entre 10 y 20 años <span>(77)</span></a></li>
                                <li><a href="#">Entre 20 y 50 años <span>(24)</span></a></li>
                                <li><a href="#">Entre 5 y 10 años <span>(78)</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>#}



            </div>

            <div class="precio">

            </div>

            <div class="servicios">

            </div>
        </div>
        {#{{ dump(negocios.items) }}#}
        <div class="col-md-9 body-negocios">
            <div class="row table-filtros">
                <span>Ordenar por:</span>
                <table>
                    <tr>
                        {# sorting of properties based on query components #}
                        {#<th>{{ knp_pagination_sortable(negocios, 'Id', 'n.id') }}</th>#}
                        <th{% if negocios.isSorted('cp.nota') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(negocios, 'Popularidad', 'cp.nota') }}</th>
                        <th{% if negocios.isSorted('n.nombre') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(negocios, 'Alfabetico', 'n.nombre') }}</th>
                        {# <th>{{ knp_pagination_sortable(negocios, 'Release', ['n.date', 'n.time']) }}</th> #}
                        <th{% if negocios.isSorted('n.registeredAt') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(negocios, 'Más reciente ', 'n.registeredAt') }}</th>
                    </tr>
                </table>
            </div>
            {#{{ dump(negocios.items) }}#}
            {% if negocios.items|length == 0 %}
                <div class="mensaje-notfound">
                    <p><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></p>
                    <p class="text-nf">No se encontró ningun resultado.</p>
                    <p class="text-nf">Lo sentimos, no encontramos resultados para su búsqueda. Inténtalo nuevamente.</p>
                </div>
            {% else %}
                {% for n in negocios.items %}
                    {{  include('includes/listado_negocios.html.twig', { 'n': n , type: 'inmueble'}) }}
                {% endfor %}
            {% endif %}
        </div>
        <div class="navigation">
            {{ knp_pagination_render(negocios,'foundation_v5_pagination.html.twig') }}
        </div>
    </div>


{% endblock fos_user_content %}


{% block javascripts %}
    {{ parent() }}
    {#Rateyo#}
    <script src="{{ asset('js/jquery.rateyo.min.js') }}"></script>
    {#RangeSlide#}
    <script src="{{ asset('js/ion.rangeSlider.js') }}"></script>
    {#RangeSlide#}
    <script>
        $(document).ready( function(){
            var rangeSlider = $('.jsRangeSlider');
            var inpPreMin = $("input[name='preciomin']");
            var inpPreMax = $("input[name='preciomax']");
            var instance;

            var preciomin = inpPreMin.val();
            console.log(preciomin);
            var preciomax = inpPreMax.val();
            console.log(preciomax);



            {#var preciomin = {{ negocios.params.preciomin }};#}
            {#var preciomax = {{ negocios.params.preciomax }};#}


//            if(typeof  !== 'undefined'){
//                 = ;
//            }
            {#}else if({{ negocios.params.preciomin  }}){#}
                {#preciomin = {{ negocios.params.preciomin }};#}
                {#console.log(typeof(preciomin));#}
            {#}#}


            //IONRANGESLIDER
            $("#range").ionRangeSlider({
                hide_min_max: true,
                keyboard: false,
                min: '{{ precio_min_default }}',
                max: '{{ precio_max_default }}',
//                from: 100000,
//                to: 180000,
                from: preciomin,
                to: preciomax,
                type: 'double',
                step: 1,
                prefix: "s/.",
                grid: true,
                grid_num: 2,
                onStart: updateInputs,
                onChange: updateInputs,
                onFinish: updateInputs
            });

            //OBTENIENDO VALOR IONRANGESLIDER
            function updateInputs (data) {
                //console.log(data);
                inpPreMin.prop("value", data.from);
                inpPreMax.prop("value", data.to);
            }

//            function updateInputsChange (data) {
//                //console.log(data);
//                inpPreMin.prop("value", data.from);
//                inpPreMax.prop("value", data.to);
//
////                $('.formIonSlider').submit();
//            }

            instance = rangeSlider.data("ionRangeSlider");

        })

    </script>
    <script>
        function initialize() {

            /*var displaySuggestions = function(predictions, status) {
             if (status != google.maps.places.PlacesServiceStatus.OK) {
             alert(status);
             return;
             }

             predictions.forEach(function(prediction) {
             var li = document.createElement('li');
             li.appendChild(document.createTextNode(prediction.description));
             document.getElementById('results').appendChild(li);
             });
             };*/

            var options = {
                types: ['(cities)'],
                componentRestrictions: {country: "pe"}
            };

            var input = document.getElementById('searchTextField');
            var autocomplete = new google.maps.places.Autocomplete(input,options);
            //var service = new google.maps.places.AutocompleteService();
            //service.getQueryPredictions({ input: 'lima' }, displaySuggestions);
        }
    </script>
    <!--<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcllALlFAfHCaSCv1Oqmq0_wwF5qmGc_A&libraries=places&language=es&callback=initialize"
            type="text/javascript"></script>-->
    <script>
        {{ include('includes/js/rateyo.js') }}


        $( "#buscardor-form-inmuebles").autocomplete({
            source: function( request, response ) {
                var url = '{{ path('show_ubicaciones_buscador') }}';
                $.ajax( {
                    url: url,
                    //dataType: "jsonp",
                    data: {
                        q: request.term
                    },
                    success: function( data ) {
                        // Handle 'no match' indicated by [ "" ] response
                        response( data.length === 0 ? ['Ningun resultado encontrado'] : data );
                        //response( data.length === 1 && data[ 0 ].length === 0 ? ['Ningun resultado encontrado'] : data );
                    }
                } );
            },
            minLength: 1,
            select: function( event, ui ) {
                $( "#buscardor-form-inmuebles").val(ui.item.label);
                $(".buscador_categorias").submit();
            }
        } );
        //google.maps.event.addDomListener(window, 'load', initialize);
    </script>

    <script>
        $(document).ready(function(){
            //FILTRO LATERAL
            var bodyFiltro = $('.body-filtro-list').show();
            //$('.body-filtro-list:not(:first)').hide();
            //$('.body-filtro-list:eq(1)').show();

            $('.titulo-filtro').click(function(){
               $(this).children().toggleClass('fa fa-angle-down fa fa-angle-up');
               $(this).parent().next().children().slideToggle();
            });

        });
    </script>
{% endblock javascripts %}