{% extends "FOSUserBundle::layout.html.twig" %}
{% block title %}
    <title>Konstruye.pe | Mi Perfil Público</title>
{% endblock title %}
{% block stylesheets %}
    {{ parent() }}
    {#Noty#}
    <link rel="stylesheet" href="{{ asset('css/animate.css') }}">
    {#Magnific Popup#}
    {#<link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}">#}
{% endblock stylesheets %}
{% block fos_user_content %}

    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div id="error" data-error="{{ message }}"></div>
        {% endfor %}
    {% endfor %}

    <header class="perfil">
        <div class="container-fluid position">
            <div class="row ">
                <div class="imagen-fondo-perfil fondo-defaults">
                    {#imagen fondo#}
                </div>
                <div class="container flex-container-perfil" style="padding: 0">
                    <div class="perfil-fondo-izquierda2">
                        {% if usuario.profile is not null %}
                            <img alt="user icon" src="{{ vich_uploader_asset(usuario.profile, 'profileFile','AppBundle\\Entity\\FotoProfile') }}">
                        {% else %}
                            <img width="60px" src="{{ asset('images/assets/user_icon.svg') }}" alt="">
                        {% endif %}
                        <p class="perfil-nombre2">{{ usuario.nombres}} <strong>{{ usuario.apellidos }}</strong>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </header>

    <div class="container time-line">
        <div class="middle-line">

        </div>

        <div class="tl-content-home">
            <div class="content-iz">
                <div class="icon-middle">
                    <img src="http://www.cooltimeline.com/wp-content/plugins/cool-timeline-pro//images/cd-icon-picture.svg" alt="Picture">
                </div>
                <a href="">
                    <img src="http://placehold.it/400x200" alt="time-line-photo">
                </a>
                <div class="content-desc">
                    <a href=""><h2>Titulo del negocio</h2></a>
                    <p>Microsoft launches a new cloud platform for connected cars</h2>
                        Coming later this year</p>
                </div>
                <span class="date-line-iz">25 Abril, 2016</span>
            </div>

        </div>

        <div class="tl-content-home2">
            <div class="content-dr">
                <div class="icon-middle">
                    <img src="http://www.cooltimeline.com/wp-content/plugins/cool-timeline-pro//images/cd-icon-picture.svg" alt="Picture">
                </div>
                <a href="">
                    <img src="http://placehold.it/400x200" alt="time-line-photo">
                </a>
                <div class="content-desc">
                    <a href=""><h2>Titulo del negocio</h2></a>
                    <p>Microsoft launches a new cloud platform for connected cars</h2>
                        Coming later this year</p>
                </div>
                <span class="date-line-dr">26 Abril, 2016</span>
            </div>
        </div>

    </div>

    {#
    {{ dump(usuario) }}
    {{ dump(negocios) }}
    #}







{% endblock fos_user_content %}
