

{% extends 'FOSUserBundle::layout.html.twig' %}
{% block title %}
    <title>Konstruye.pe | Resultado de Búsqueda</title>
{% endblock title %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/jquery.rateyo.min.css') }}">
{% endblock %}

{% block fos_user_content %}

    <div class="container resultado">
        <h1>Resultados de búsqueda: <strong>({{ negocios|length }})</strong> Elementos encontrado(s)</h1>
    </div>

    <div class="container product-section">

        <div class="col-md-3">
            <div class="list-group">
                <a href="#" class="list-group-item disabled tittle-disable">Filtro</a>
                <a href="#" class="list-group-item">Sub-Filtro</a>
                <a href="#" class="list-group-item">Sub-Filtro</a>
                <a href="#" class="list-group-item">Sub-Filtro</a>
                <a href="#" class="list-group-item">Sub-Filtro</a>
            </div>
            <div class="list-group">
                <a href="#" class="list-group-item disabled tittle-disable">Filtro</a>
                <a href="#" class="list-group-item">Sub-Filtro</a>
                <a href="#" class="list-group-item">Sub-Filtro</a>
                <a href="#" class="list-group-item">Sub-Filtro</a>
                <a href="#" class="list-group-item">Sub-Filtro</a>
            </div>
        </div>

        <div class="col-md-9">
            <div style="width: 100%; color: #009FE3; text-align: right; margin-bottom: 10px">
                <span>Ordenar por: </span>
                <span>Más Reciente |</span>
                <span>Rating |</span>
                <span style="font-weight: bold">Alfabetico</span>
            </div>


            {% for ne in negocios.items %}
                <div class="col-md-4">
                    <div class="negocio-box">
                        <a href="{{ path('show_negocio',
                        {"slug_negocio":ne.negocio.slug}) }}">
                            <div class="banner">
                                <img src="{{ vich_uploader_asset(ne.negocio.banner, 'bannerFile','AppBundle\\Entity\\Banner') }}" alt="{{ ne.negocio.nombre }}" />
                            </div>
                            <div class="datos">
                                <div class="middle-section">
                                    <img width="80px" src="{{ vich_uploader_asset(ne.negocio.logo, 'logoFile','AppBundle\\Entity\\Logo') }}" alt="{{ ne.negocio.nombre }}" />
                                    {% if ne.mymoy is null %}
                                        <div class="rateYo_negocios" data-rating="0"></div>
                                    {% else %}
                                        <div class="rateYo_negocios" data-rating="{{ ne.mymoy }}"></div>
                                    {% endif %}
                                </div>
                                <div class="detalle-datos">
                                    <a href="{{ path('show_negocio',
                                    {"slug_negocio":ne.negocio.slug}) }}">
                                        <h1>
                                            {{ ne.negocio.nombre }}
                                        </h1>
                                    </a>
                                    <p><i class="fa fa-map-marker" aria-hidden="true"></i> {{ ne.negocio.direccion }} - {{ ne.negocio.distrito.nombre }} - {{ ne.negocio.provincia.nombre }}</p>
                                    <p><i class="fa fa-phone" aria-hidden="true"></i> {{ ne.negocio.telefono }}</p>
                                    <p><i class="fa fa-globe" aria-hidden="true"></i> {{ ne.negocio.web }}</p>
                                    <p><i class="fa fa-envelope" aria-hidden="true"></i> {{ ne.negocio.email }}</p>
                                </div>


                            </div>
                        </a>
                    </div>
                </div>

            {% endfor %}


        </div>
    </div>

{% endblock fos_user_content %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery.rateyo.min.js') }}"></script>
    <script>
        var color="#30BDEF";

        $( ".rateYo_negocios" ).each(function( index ) {
            $(this).rateYo({
                rating: $(this).attr("data-rating"),
                starWidth: "20px",
                readOnly: true,
                ratedFill: color,
                normalFill: "#A0A0A0"
            });
        });
    </script>
{% endblock javascripts %}