{% extends 'FOSUserBundle::layout.html.twig' %}
{% block title %}
    <title>Konstruye.pe | {{ producto.nombre }}</title>
{% endblock title %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/jquery.rateyo.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/masterslider.css') }}">
    {#Magnivi Popup#}
    <link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}">
    {#Rate Yo#}
    <link rel="stylesheet" href="{{ asset('css/jquery.rateyo.min.css') }}">
{% endblock %}

{% block fos_user_content %}
    {#{{ dump(app.user) }}#}
    {#{{ dump(myc) }}#}
    {#{{ wo_render_breadcrumbs() }}#}
    <div class="container product-detail-section">
        <div class="container-breadcrumb marging-top">
            {{ wo_render_breadcrumbs() }}
        </div>
        <div class="col-md-6">
            <div class="ms-showcase2-template ms-showcase2-vertical">
                <!-- masterslider -->
                <div class="master-slider ms-skin-default" id="masterslider">
                    <div class="ms-slide">
                        <img src="{{ asset('css/loading-2.gif') }}" data-src="http://placehold.it/450x450" alt="lorem ipsum dolor sit"/>
                        <img class="ms-thumb" src="http://placehold.it/100x100" alt="thumb" />
                    </div>
                    <div class="ms-slide">
                        <img src="{{ asset('css/loading-2.gif') }}" data-src="http://placehold.it/450x450" alt="lorem ipsum dolor sit"/>
                        <img class="ms-thumb" src="http://placehold.it/100x100" alt="thumb" />
                    </div>
                    <div class="ms-slide">
                        <img src="{{ asset('css/loading-2.gif') }}" data-src="http://placehold.it/450x450" alt="lorem ipsum dolor sit"/>
                        <img class="ms-thumb" src="http://placehold.it/100x100" alt="thumb" />
                    </div>
                    <div class="ms-slide">
                        <img src="{{ asset('css/loading-2.gif') }}" data-src="http://placehold.it/450x450" alt="lorem ipsum dolor sit"/>
                        <img class="ms-thumb" src="http://placehold.it/100x100" alt="thumb" />
                    </div>
                    <div class="ms-slide">
                        <img src="{{ asset('css/loading-2.gif') }}" data-src="http://placehold.it/450x450" alt="lorem ipsum dolor sit"/>
                        <img class="ms-thumb" src="http://placehold.it/100x100" alt="thumb" />
                    </div>
                    <div class="ms-slide">
                        <img src="{{ asset('css/loading-2.gif') }}" data-src="http://placehold.it/450x450" alt="lorem ipsum dolor sit"/>
                        <img class="ms-thumb" src="http://placehold.it/100x100" alt="thumb" />
                    </div>
                    <div class="ms-slide">
                        <img src="{{ asset('css/loading-2.gif') }}" data-src="http://placehold.it/450x450" alt="lorem ipsum dolor sit"/>
                        <img class="ms-thumb" src="http://placehold.it/100x100" alt="thumb" />
                    </div>


                </div>
                <!-- end of masterslider -->
            </div>


        </div>

        <div class="col-md-6" style="padding: 20px">

            <h1>{{ producto.nombre }}</h1>
            <div id="rateYo" data-rating="{{ moy }}" style="margin: 5px 0; padding-left:0 "></div>
            <a href="{{ path('show_negocio',{"slug_negocio":producto.negocio.slug}) }}">
                <h2>{{ producto.negocio.nombre }}</h2>
            </a>
            <p>{{ producto.description }}</p>

            {#Solicitar Cotizacion#}
            <a class="simple-ajax-popup" href="{{ path('producto_solicitar_cotizacion',{'slug_producto':producto.slug}) }}">
                <button class="btn btn-konstruye btn-cotizacion"> Solicitar Cotización</button>
            </a>
            {#<a class="simple-ajax-popup" href="{{ path('producto_solicitar_cotizacion',{'slug_producto':producto.slug}) }}">Solicitar Cotizacion</a>#}
        </div>
    </div>

    {#<div class="container">#}

        {#{% for type, messages in app.session.flashbag.all() %}#}
            {#{% for message in messages %}#}
                {#<div id="sucess" data-sucess="{{ message }}"></div>#}
            {#{% endfor %}#}
        {#{% endfor %}#}

        {#<div class="col-md-8 col-md-offset-2 star-form">#}
            {#{% if form is defined %}#}
                {#{{ form_start(form,{attr: {novalidate: 'novalidate'}}) }}#}
                {#<div class="rating-container">#}
                    {#<div style="margin: 10px auto " id="rateYo2"></div>#}
                    {#<div class="counter"></div>#}
                {#</div>#}
                {#{% if form.vars.errors|length>0 %}#}
                    {#<div class="alert alert-danger" role="alert">#}
                        {#<div> <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{ form_errors(form) }}</div>#}
                    {#</div>#}
                {#{% endif %}#}

                {#<div class="form-group">#}
                    {#{{ form_label(form.titulo,'Título') }}#}
                    {#{% if form.titulo.vars.errors|length>0 %}#}
                        {#<div class="alert alert-danger" role="alert">#}
                            {#<div> <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{ form_errors(form.titulo) }}</div>#}
                        {#</div>#}
                    {#{% endif %}#}

                    {#{{ form_widget(form.titulo,{ 'attr': {'class': 'form-control','placeholder':'¡Excelente!'}}) }}#}
                {#</div>#}
                {#<div class="form-group">#}
                    {#{{ form_label(form.comentario,'Comentario') }}#}
                    {#{% if form.comentario.vars.errors|length>0 %}#}
                        {#<div class="alert alert-danger" role="alert">#}
                            {#<div> <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{ form_errors(form.comentario) }}</div>#}
                        {#</div>#}
                    {#{% endif %}#}

                    {#{{ form_widget(form.comentario,{ 'attr': {'class': 'form-control','placeholder':'Tu comentario'}}) }}#}
                {#</div>#}

                {#<div class="form-group">#}
                    {#{{ form_widget(form.submit,{ 'attr': {'class': 'btn btn-konstruye'},'label': 'Enviar'}) }}#}
                {#</div>#}


                {#{{ form_end(form) }}#}
            {#{% endif %}#}
        {#</div>#}
    {#</div>#}


    <div class="container product-section" style="margin-top: 30px; text-align: center" >
        <h4>TAMBIEN TE PUEDE INTERESAR</h4>
        <div class="row">
            <div class="col-md-3 producto-box">
                <img src="http://placehold.it/200x200" alt="">
                <a href=""><h1>Marmol 5x5</h1></a>
                <a href=""><h2>Trebol Celima</h2></a>
                <p>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </p>
            </div>
            <div class="col-md-3 producto-box">
                <img src="http://placehold.it/200x200" alt="">
                <a href=""><h1>Marmol 5x5</h1></a>
                <a href=""><h2>Trebol Celima</h2></a>
                <p>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </p>
            </div>
            <div class="col-md-3 producto-box">
                <img src="http://placehold.it/200x200" alt="">
                <a href=""><h1>Marmol 5x5</h1></a>
                <a href=""><h2>Trebol Celima</h2></a>
                <p>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </p>
            </div>
            <div class="col-md-3 producto-box">
                <img src="http://placehold.it/200x200" alt="">
                <a href=""><h1>Marmol 5x5</h1></a>
                <a href=""><h2>Trebol Celima</h2></a>
                <p>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </p>
            </div>
        </div>
    </div>

    <div class="container comments_details">
        <div class="col-md-8 col-md-offset-2 ">
            {% if comentarios|length > 0 %}
                <h1 style="text-transform: uppercase;font-weight: bold;color: #009FE3;margin: 10px 0;">Comentarios ({{ comentarios|length }})</h1>
                {% for comentario in comentarios %}
                    <div class="media comment">
                        <div class="media-left">
                            {% if app.user.profile is not null %}
                                {#<img class="img-circle" alt="user icon" width="70px" src="{{ vich_uploader_asset(app.user.profile, 'logoFile') }}">#}
                                <img class="img-circle" alt="user icon" width="70px"src="http://placehold.it/100x100x?text=Foto+Perfil">
                            {% else %}
                                <img class="img-circle" alt="user icon" width="70px"src="http://placehold.it/100x100x?text=Foto+Perfil">
                            {% endif %}
                            <div class="" style="width: 0;height: 0;border-style: solid;border-width: 6px 7.6px 5px 0;border-color: transparent #fff transparent transparent;position: absolute;right: 0;top: 29px;"></div>
                        </div>
                        <div class="media-body comentarios-personales">
                            <h3>{{ comentario.titulo }}</h3>
                            <div class="seccion-nombre-rating">
                                <span>{{ comentario.user.nombres }} -</span>
                                <div class="rateYo_comments" data-rating="{{ comentario.nota }}"></div>
                            </div>
                            <div class="date">{{ comentario.adedAt|date("d F, Y") }}</div>
                            <p>
                                {{ comentario.comentario }}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <section class="alerta-mensaje-ninguno">
                    <p><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></p>
                    <p>Aun no ha realizado ninguna comentario.</p>
                </section>
            {% endif %}

            {#Flashbag#}
            {% for label, flash in app.session.flashbag.get('success') %}
                <div id="success" data-success="{{ flash }}"> </div>
            {% endfor %}

            {% if app.user is not null %}
                <p>
                    {% if myc is not null %}
                        <a class="simple-ajax-popup btn btn-konstruye btn-comentar" href="{{ path('producto_me_comentar_edit',{'slug_producto':producto.slug}) }}">Editar</a>
                    {% else %}
                        <a class="simple-ajax-popup btn btn-konstruye btn-comentar" href="{{ path('producto_me_comentar_new',{'slug_producto':producto.slug}) }}">Comentar</a>
                    {% endif %}
                </p>
            {% else %}
                <span class="media contenedor-registrate">
                    <a id="registro" href="{{ path('fos_user_registration_register') }}">Registrarse</a>
                    ó
                    <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                    para poder comentar.
                </span>
            {% endif %}
        </div>
    </div>
{% endblock fos_user_content %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery.rateyo.min.js') }}"></script>
    <script src="{{ asset('js/masterslider.min.js') }}" type="text/javascript"></script>
    {#Magnific Popup#}
    {#<script type="text/javascript" src="{{ asset('js/jquery.magnific-popup.min.js') }}"></script>#}
    {#Rate Yo#}
    <script type="text/javascript" src="{{ asset('js/jquery.rateyo.min.js') }}"></script>

    <script type="text/javascript">


//        var errormsn = $("#sucess").attr("data-sucess");
//
//        if(errormsn!=undefined)
//            noty({
//                text: errormsn,
//                animation: {
//                    open: 'animated bounceInLeft', // Animate.css class names
//                    close: 'animated bounceOutRight', // Animate.css class names
//                    easing: 'swing', // easing
//                    speed: 800 // opening & closing animation speed
//                },
//                'layout':'bottomCenter',
//                type: 'success',
//                timeout:3000
//            });




//        var test = $("#rateYo").attr("data-rating");
//
//        $("#rateYo").rateYo({
//            rating: test,
//            ratedFill: color,
//            starWidth: "25px",
//            normalFill: "#A0A0A0",
//            readOnly: true
//        });
//
//
//        var recuperar = $("#comentario_producto_nota").attr("value");

//        $("#rateYo2").rateYo({
//                    rating: recuperar,
//                    ratedFill: "#0097C9",
//                    normalFill: "#A0A0A0",
//                    starWidth: "60px",
//                    onChange: function (rating, rateYoInstance) {
//                        $(this).next().text(rating);
//                    }
//
//                })
//                .on("rateyo.set", function (e, data) {
//                    $("#comentario_producto_nota").val(data.rating);
//                    $("#rateYo2").rateYo("option", "readOnly", true);
//                    $("#rateYo2").rateYo("option", "ratedFill", "#30BDEF");
//                });


//        $("#rateYo2").mouseleave(function(){
//            $("#rateYo2").rateYo("option", "readOnly", false);
//        });
//        $("#rateYo2").mouseenter(function(){
//            $("#rateYo2").rateYo("option", "ratedFill", color);
//        });
        var color="#30BDEF";
        $( ".rateYo_comments" ).each(function( index ) {
            $(this).rateYo({
                rating: $(this).attr("data-rating"),
                starWidth: "20px",
                readOnly: true,
                ratedFill: color,
                normalFill: "#A0A0A0"
            });
        });

        var slider = new MasterSlider();

        slider.control('arrows');
        slider.control('scrollbar' , {dir:'h'});
        slider.control('thumblist' , {autohide:false, dir:'v', arrows:true, align:'left', width:100, height:100, margin:5, space:5, hideUnder:300});

        slider.setup('masterslider' , {
            width:450,
            height:450,
            grabCursor:false,
            space:5
        });

        //Magnific popup
        $('.simple-ajax-popup').magnificPopup({
            type: 'ajax'
        });

        //Noty
        var flashMessage= $('#success').attr('data-success');
        if(flashMessage!=undefined){
            noty({
                text: flashMessage,
                layout: 'bottom',
                timeout: 2000,
                type:'wedding'
            });

            var n = noty({
                theme: 'default_noty'
            });
        }


    </script>

{% endblock javascripts %}