{% extends 'FOSUserBundle::layout.html.twig' %}
{#
 check website // http://www.adondevivir.com/propiedades/ocasion-casa-310-m2-entre-el-parque-el-olivar-y-av-51973011.html
#}
{#falta block title#}
{% block title %}
    <title>Konstruye.pe | {{ negocio.nombre }}</title>
{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    {#Magnific Popup#}
    <link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}">
    {#Slider#}
    <link rel="stylesheet" href="{{ asset('css/masterslider.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/ms-gallery-style.css') }}">
    {#Rateyo#}
    <link rel="stylesheet" href="{{ asset('css/jquery.rateyo.min.css') }}">
{% endblock stylesheets%}


{% block fos_user_content %}
{#{{ dump(negocio) }}#}
{#<div class="container">#}
    <div class="container">
        <section class="header">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-8 datos-header">
                        <div class="datos-anterior">
                            <a href="#"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
                        </div>
                        <div class="datos-direccion">
                            <h1> {{ negocio.nombre }}</h1>
                            <div>
                                <a href="#mapa"><i class="fa fa-map-marker" aria-hidden="true"></i> <p>{{ negocio.direccion~", "~negocio.distrito.nombre~", "~negocio.provincia.nombre}}</p></a>
                            </div>
                        </div>
                        <div class="datos-icon-header">
                            <ul>
                                <li class="lista-header-icon"><i class="fa fa-flag" aria-hidden="true"></i></li>
                                <li class="lista-header-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></li>
                                <li class="lista-header-icon"><i class="fa fa-flag" aria-hidden="true"></i></li>
                                <li class="lista-header-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 zona-precio">
                            <div class="zona-precio-contenido">
                                <div class="precio">
                                    <span class="titulo-zona-inmueble">Desde:</span>
                                    <span class="precio-zona-inmueble"> S/ {{ negocio.precioSoles }}</span>
                                </div>
                                <div class="zona-calcula-hipoteca">
                                    <a class="calcula-hipoteca" href="#">CALCULA TU HIPOTECA</a>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- SLIDER -->
        <section class="slider-inmueble">
            <div class="col-md-12">
                <div class="row">
                    <div class="ms-gallery-template" id="ms-gallery-1" style="max-width: 1125px">
                        <!-- masterslider -->
                        <div class="master-slider ms-skin-black-2 round-skin" id="masterslider" >
                            <div class="ms-slide">
                                <img src="{{ asset('css/blank.gif') }}" data-src="{{ asset('images/comprayventa.jpg') }}" alt="lorem ipsum dolor sit"/>
                                <img src="{{ asset('images/comprayventa.jpg') }}" alt="thumb-1" class="ms-thumb"/>
                                <div class="ms-info">
                                    INMUEBLE
                                </div>
                            </div>
                            <div class="ms-slide">
                                <img src="{{ asset('css/blank.gif') }}" data-src="{{ asset('images/comprayventa.jpg') }}" alt="lorem ipsum dolor sit"/>
                                <img src="{{ asset('images/comprayventa.jpg') }}" alt="thumb-1" class="ms-thumb"/>
                                <div class="ms-info">
                                    INMUEBLE
                                </div>
                            </div>
                            <div class="ms-slide">
                                <img src="{{ asset('css/blank.gif') }}" data-src="{{ asset('images/comprayventa.jpg') }}" alt="lorem ipsum dolor sit"/>
                                <img src="{{ asset('images/comprayventa.jpg') }}" alt="thumb-1" class="ms-thumb"/>
                                <div class="ms-info">
                                    INMUEBLE
                                </div>
                            </div>
                        </div>
                        <!-- end of masterslider -->
                    </div>
                </div>
            </div>
        </section>
        
        <section class="body">
            <div class="col-md-12 top-margin">
                <div class="row">
                    <div class="col-md-8 padding-left-right">
                        <div class="col-md-6 padding-left-right">
                            <div class="data-izquierda">
                                <div class="datos-izquierda">
                                    <div class="datos-principales">
                                        <h3 class="datos-principales-titulo">Datos Principales</h3>
                                        <ul>
                                            <li class="lista-datos-principales">
                                                <span class="">
                                                    <i class="fa fa-heart-o" aria-hidden="true"></i> Proyecto Inmobiliario
                                                </span>
                                                <span></span>
                                            </li>
                                            <li class="lista-datos-principales">
                                               <span class="">
                                                   <i class="fa fa-heart-o" aria-hidden="true"></i> Precio Desde {{ negocio.precioSoles }}
                                               </span>
                                                <span></span>
                                            </li>
                                            <li class="lista-datos-principales">
                                               <span class="">
                                                   <i class="fa fa-heart-o" aria-hidden="true"></i> Precio en Dólares desde US$ {{ negocio.precioDolares }}
                                               </span>
                                                <span></span>
                                            </li>
                                            <li class="lista-datos-principales">
                                               <span class="">
                                                   <i class="fa fa-heart-o" aria-hidden="true"></i> {{ negocio.areaTotal }} Área Total
                                               </span>
                                                <span></span>
                                            </li>
                                            <li class="lista-datos-principales">
                                               <span class="">
                                                   <i class="fa fa-heart-o" aria-hidden="true"></i> {{ negocio.areaTechada }} Área Techada
                                               </span>
                                                <span></span>
                                            </li>
                                            <li class="lista-datos-principales">
                                               <span class="">
                                                   <i class="fa fa-heart-o" aria-hidden="true"></i> {{ negocio.dormitorios }} Dormitorios
                                               </span>
                                                <span></span>
                                            </li>
                                            <li class="lista-datos-principales">
                                               <span class="">
                                                   <i class="fa fa-heart-o" aria-hidden="true"></i> {{ negocio.banos }} Baños
                                               </span>
                                                <span></span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div id="mapa" class="datos-ubicacion">
                                    <div class="contenedor-ubicacion">
                                        <h3 class="datos-titulo-ubicacion">Ubicación</h3>
                                        <div class="datos-direc">
                                            <p><i class="fa fa-map-marker" aria-hidden="true"></i> {{ negocio.direccion~", "~negocio.distrito.nombre~", "~negocio.provincia.nombre}}</p><br>
                                            <div>
                                                {% if map is defined %}
                                                    {{ google_map(map) }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 padding-right">
                            <div class="data-izquierda_b">
                                <div class="datos-derecha">
                                    <div class="datos-descripcion">
                                        <h3 class="datos-descripcion-titulo">Descripción</h3>
                                        <p class="descripcion-negocio">{{ negocio.description|nl2br  }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="datos-servicios">
                                <div class="contenedor-servicios">
                                    <h3 class="datos-titulo-servicios">Servicios</h3>
                                    <div class="">
                                        {#{{ dump(negocio.sevicios[0]) }}#}
                                        {% for servicio in negocio.sevicios%}
                                            <p><i class="fa fa-check" aria-hidden="true"></i> {{ servicio.nombre }}</p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="datos-generales">
                                <div class="contenedor-generales">
                                    <h3 class="datos-titulo-generales">Generales</h3>
                                    <div class="">
                                        {% for general in negocio.generales %}
                                            <p><i class="fa fa-check" aria-hidden="true"></i> {{ general.nombre }}</p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4 zona-contactanos">
                            <div class="zona-contactanos-contenido">
                                <div class="zona-contactanos-header">
                                    <a class="link-inmobiliaria" href="">
                                        <span> {{ negocio.nombre }} </span>
                                        <img class="img-responsive" width="70" src="{{ vich_uploader_asset(negocio.logo, 'logoFile') }}" alt=""/>
                                    </a>
                                </div>
                                <div class="zona-telefono">
                                    <i class="fa fa-phone" aria-hidden="true"></i> VER TELÉFONO
                                </div>
                                <div class="zona-formulario">
                                    <a class="btn btn-konstruye simple-ajax-popup" href="{{ path('negocio_solicitar_cotizacion',{'slug_negocio':negocio.slug}) }}">Contactar Anuncio</a>
                                </div>
                            </div>
                    </div>


                </div>
            </div>
            <div class="col-md-12 ">
                <div class="row">
                    <div class="col-md-8 datos-header">
                        <h3 class="datos-titulo-comentarios">Comentarios</h3>
                        {% if negocio.comentarios|length > 0 %}
                            {% for comentario in negocio.comentarios %}
                                <div class="show-perfil-image-comentario col-md-2 col-sm-2 col-xs-12">
                                    <img class="img-circle" alt="user icon" width="70px" src="http://placehold.it/100x100x?text=Foto+Perfil">
                                </div>

                                <div class="show-perfil-comentario-usuario col-md-10 col-sm-10 col-xs-12">
                                    <div class="titulo-rating">
                                        <h3>{{ comentario.titulo }} -</h3><span class="rateYo_comments" data-rating="{{ comentario.nota }}"></span>
                                    </div>

                                    <div class="comentario_editar">
                                        <p>{{ comentario.comentario }}</p>
                                        {#<a class="comentario-enlace"href="">Editar</a>#}
                                    </div>
                                    <div  class="date hidden-xs-down">{{ comentario.adedAt|date("d F, Y") }}</div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <section class="alerta-mensaje-ninguno">
                                <p><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></p>
                                <p>Se el primero en dejar tú comentar.</p>
                            </section>
                        {% endif %}

                        {% if app.user is not null %}
                            <p>
                                {% if myc is not null %}
                                    <a class="simple-ajax-popup btn btn-konstruye btn-comentar" href="{{ path('negocio_me_comentar_edit',{'slug_negocio':negocio.slug}) }}">Editar</a>
                                {% else %}
                                    {#No entra por que nunca es Null#}
                                    <a class="simple-ajax-popup btn btn-konstruye btn-comentar" href="{{ path('negocio_me_comentar_new',{'slug_negocio':negocio.slug}) }}">Comentar</a>
                                {% endif %}
                            </p>

                        {% else %}
                            <span class="media contenedor-registrate">
                                <a id="registro" href="{{ path('fos_user_registration_register') }}">Registrarse</a>
                                ó
                                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                                para poder comentar.
                            </span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </div>
{#</div>#}
{% endblock fos_user_content %}
{% block javascripts %}
    {{ parent() }}
    {#Slider#}
    <script  type="text/javascript" src="{{ asset('js/jquery.easing.min.js') }}"></script>
    <script  type="text/javascript" src="{{ asset('js/masterslider.min.js') }}"></script>
    {#Rate Yo#}
    <script type="text/javascript" src="{{ asset('js/jquery.rateyo.min.js') }}"></script>
<script>
    $(document).ready(function(){
        {#Magnific Popup#}
        $('.simple-ajax-popup').magnificPopup({
            type: 'ajax'
        });

        {#Slider#}
        var slider = new MasterSlider();
        slider.setup('masterslider' , {
            width:1125,
            height:500,
            space:0,
            preload:3,
            view:'basic',
            grabCursor:false,
            autoplay: true

        });
        slider.control('arrows');

        var gallery = new MSGallery('ms-gallery-1' , slider);
        gallery.setup();

        {#Rateyo#}
        var color="#30BDEF";

        $( ".rateYo_comments" ).each(function( index ) {
            $(this).rateYo({
                rating: $(this).attr("data-rating"),
                starWidth: "16px",
                readOnly: true,
                ratedFill: color,
                normalFill: "#A0A0A0"
            });
        });
    });
</script>
{% endblock javascripts %}