{% extends 'FOSUserBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block fos_user_content %}
    <div class="container-fluid">
        <div class="row">
            <img width="100%" src="{{ asset('images/assets/publicidad.jpg') }}" alt="">
        </div>
    </div>

    <div class="container">
        <div id="search-cop3">
            <form class="buscador_categorias" role="search">
                <select class="selectpicker">
                    <option value="0">Comprar</option>
                    <option value="1">Alquilar</option>
                    <option value="2">Vender</option>
                    <option value="3">Hipotecar</option>
                </select>
                <select class="selectpicker">
                    <option value="0">Departamento</option>
                    <option value="1">Casa</option>
                    <option value="2">Departamento</option>
                    <option value="3">Oficina</option>
                </select>
                <div class="form-group buscador">
                    <input type="text" class="form-control" placeholder="Ingresa Departamento,Provincia,Distrito o Proyecto">
                </div>

            </form>

        </div>
    </div>
    <div class="container">

        <div class="col-md-3">
            <div class="list-group">
                <a href="#" class="list-group-item disabled">Terrenos</a>
                <a href="#" class="list-group-item">Terrenos Grandes</a>
                <a href="#" class="list-group-item">Terrenos Chicos</a>

            </div>
            <div class="list-group">
                <a href="#" class="list-group-item disabled">Oficinas</a>
                <a href="#" class="list-group-item">Oficinas Grandes</a>
                <a href="#" class="list-group-item">Oficinas Chicas</a>
            </div>

        </div>

        <div class="col-md-9">
            <div class="row">
                <div class="negocio">
                    <div class="col-md-2 logotipo">
                        <img src="{{ asset('images/assets/centenario.jpg') }}">
                    </div>
                    <div class="col-md-5 description">
                        <h1>Centenario</h1>
                        <p><i class="fa fa-map-marker" aria-hidden="true"></i> Jr. Centenario 234 - San Isidro - Lima</p>
                        <p><i class="fa fa-phone" aria-hidden="true"></i> 354 - 1212</p>
                        <p><i class="fa fa-globe" aria-hidden="true"></i> www.centenario.com.pe</p>
                        <p><i class="fa fa-envelope" aria-hidden="true"></i> info@centenario.com.pe</p>
                        <p>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-half-o" aria-hidden="true"></i>
                        </p>
                    </div>
                    <div class="col-md-5 banner_pub">
                        <img src="{{ asset('images/assets/centenario_banner.jpg') }}">
                    </div>
                </div>
            </div>
            <hr class="style-two">
            <div class="row">
                <div class="negocio">
                    <div class="col-md-2 logotipo">
                        <img src="{{ asset('images/assets/pro1.png') }}">
                    </div>
                    <div class="col-md-5 description">
                        <h1>Allstate Oficinas</h1>
                        <p><i class="fa fa-map-marker" aria-hidden="true"></i> Jr. Juan Arona - Surco - Lima</p>
                        <p><i class="fa fa-phone" aria-hidden="true"></i> 324 - 1232</p>
                        <p><i class="fa fa-globe" aria-hidden="true"></i> www.allstate.com</p>
                        <p><i class="fa fa-envelope" aria-hidden="true"></i> info@allstate.com</p>
                        <p>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-half-o" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </p>
                    </div>
                    <div class="col-md-5 banner_pub">
                        <img src="{{ asset('images/assets/allstate_banner.jpg') }}">
                    </div>
                </div>
            </div>
            <hr class="style-two">
            <div class="row">
                <div class="negocio">
                    <div class="col-md-2 logotipo">
                        <img src="{{ asset('images/assets/pro2.png') }}">
                    </div>
                    <div class="col-md-5 description">
                        <h1>Muka Arquitectos</h1>
                        <p><i class="fa fa-map-marker" aria-hidden="true"></i> Av. Aramburú 164 - San Isidro - Lima</p>
                        <p><i class="fa fa-phone" aria-hidden="true"></i> 354 - 1212</p>
                        <p><i class="fa fa-globe" aria-hidden="true"></i> www.muka.com.pe</p>
                        <p><i class="fa fa-envelope" aria-hidden="true"></i> info@muka.com.pe</p>
                        <p>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-half-o" aria-hidden="true"></i>
                        </p>
                    </div>
                    <div class="col-md-5 banner_pub">
                        <img src="{{ asset('images/assets/muka_banner.jpg') }}">
                    </div>
                </div>
            </div>
            <hr class="style-two">
            <div class="row">
                <div class="negocio">
                    <div class="col-md-2 logotipo">
                        <img src="{{ asset('images/assets/pro3.png') }}">
                    </div>
                    <div class="col-md-5 description">
                        <h1>Studio 351 Arquitectos</h1>
                        <p><i class="fa fa-map-marker" aria-hidden="true"></i> Jr. Intermedio 234 - Miraflores - Lima</p>
                        <p><i class="fa fa-phone" aria-hidden="true"></i> 323 - 1322</p>
                        <p><i class="fa fa-globe" aria-hidden="true"></i> www.studio351.com.pe</p>
                        <p><i class="fa fa-envelope" aria-hidden="true"></i> info@studio351.com.pe</p>
                        <p>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-half-o" aria-hidden="true"></i>
                        </p>
                    </div>
                    <div class="col-md-5 banner_pub">
                        <img src="{{ asset('images/assets/351_banner.jpg') }}">
                    </div>
                </div>
            </div>
        </div>
    </div>

    
<ul>
{% for cmain in categorias_hijas %}
    <li>{{ cmain.nombre }}</li>
    <ul>
        {% for csub in cmain.children %}
        <li>{{ csub.nombre }}</li>
        {% endfor %}
    </ul>

{% endfor %}
</ul>





    




{% endblock fos_user_content %}


{% block javascripts %}
    {{ parent() }}

{% endblock javascripts %}