{% extends 'FOSUserBundle::layout.html.twig' %}
{% block title %}
    <title>Konstruye.pe | Ver más</title>
{% endblock title %}
{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block fos_user_content %}

    <div class="container-fluid">
        <div class="row">
            <img width="100%" src="{{ asset('images/assets/celima_banner.jpg') }}" alt="">
        </div>
    </div>
<div class="container product-section">

    <div class="col-md-3">
        <div class="list-group">
            <a href="#" class="list-group-item disabled tittle-disable">Filtro</a>
            <a href="#" class="list-group-item">Sub-Filtro</a>
            <a href="#" class="list-group-item">Sub-Filtro</a>
            <a href="#" class="list-group-item">Sub-Filtro</a>
            <a href="#" class="list-group-item">Sub-Filtro</a>
        </div>
        <div class="list-group">
            <a href="#" class="list-group-item disabled tittle-disable">Filtro</a>
            <a href="#" class="list-group-item">Sub-Filtro</a>
            <a href="#" class="list-group-item">Sub-Filtro</a>
            <a href="#" class="list-group-item">Sub-Filtro</a>
            <a href="#" class="list-group-item">Sub-Filtro</a>
        </div>
    </div>

    <div class="col-md-9">
        <div style="width: 100%; color: #009FE3; text-align: right; margin-bottom: 10px">
            <span>Ordenar por: </span>
            <span>Más Reciente |</span>
            <span>Rating |</span>
            <span style="font-weight: bold">Alfabetico</span>
        </div>

        <div class="row">
            {% for pro in productos %}
                <div class="col-md-4 producto-box">
                    <a href="">
                        <img src="http://placehold.it/220x220" alt="">
                    </a>
                    <a href=""><h1>{{ pro.nombre }}</h1></a>
                    <a href=""><h2>{{ negocio.nombre }}</h2></a>
                    <p>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </p>
                </div>
            {% endfor %}
        </div>

    </div>
</div>

{% endblock fos_user_content %}


{% block javascripts %}
    {{ parent() }}

{% endblock javascripts %}