{% trans_default_domain 'FOSUserBundle' %}
    <h1>Registro</h1>

<h3>* Campos obligatorios</h3>


{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register','novalidate': 'novalidate'}}) }}



<div class="form-group choose-business">
    {{ form_label(form.isWhat,'Elija tipo de Negocio') }}

    {% if form.isWhat.vars.errors|length>0 %}
        <div class="alert alert-danger" role="alert">
            <div> <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{ form_errors(form.isWhat) }}</div>
        </div>
    {% endif %}
    {{ form_widget(form.isWhat) }}
</div>


<div class="to-put-inside">
    {% if form.nombres is defined %}
        <div class="form-group extra-input">
            {{ form_label(form.nombres,'Nombres') }}
            {% if form.nombres.vars.errors|length>0 %}
                <div class="alert alert-danger" role="alert">
                    <div> <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{ form_errors(form.nombres) }}</div>
                </div>
            {% endif %}
            {{ form_widget(form.nombres,{ 'attr': {'class': 'form-control','placeholder':'Jorge'}}) }}
        </div>
    {% endif %}
    {% if form.apellidos is defined %}
        <div class="form-group extra-input">
            {{ form_label(form.apellidos,'Apellidos') }}
            {% if form.apellidos.vars.errors|length>0 %}
                <div class="alert alert-danger" role="alert">
                    <div> <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{ form_errors(form.apellidos) }}</div>
                </div>
            {% endif %}
            {{ form_widget(form.apellidos,{ 'attr': {'class': 'form-control','placeholder':'Gonzales'}})  }}
        </div>
    {% endif %}
    {% if form.dni is defined %}
        <div class="form-group extra-input">
            {{ form_label(form.dni,'DNI') }}
            {% if form.dni.vars.errors|length>0 %}
                <div class="alert alert-danger" role="alert">
                    <div> <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{ form_errors(form.dni) }}</div>
                </div>
            {% endif %}
            {{ form_widget(form.dni,{ 'attr': {'class': 'form-control','placeholder':'47775563'}})  }}
        </div>
    {% endif %}
    {% if form.nombreEmpresa is defined %}
        <div class="form-group extra-input">
            {{ form_label(form.nombreEmpresa,'Nombre Empresa') }}
            {% if form.nombreEmpresa.vars.errors|length>0 %}
                <div class="alert alert-danger" role="alert">
                    <div> <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{ form_errors(form.nombreEmpresa) }}</div>
                </div>
            {% endif %}
            {{ form_widget(form.nombreEmpresa,{ 'attr': {'class': 'form-control','placeholder':'konstruye'}})  }}
        </div>
    {% endif %}
    {% if form.ruc is defined %}
        <div class="form-group extra-input">
            {{ form_label(form.ruc,'Numero de RUC') }}
            {% if form.ruc.vars.errors|length>0 %}
                <div class="alert alert-danger" role="alert">
                    <div> <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{ form_errors(form.ruc) }}</div>
                </div>
            {% endif %}
            {{ form_widget(form.ruc,{ 'attr': {'class': 'form-control','placeholder':'15789545258'}})  }}
        </div>
    {% endif %}
</div>


    <div class="form-group">
        {{ form_label(form.email,'Email') }}
        {% if form.email.vars.errors|length>0 %}
        <div class="alert alert-danger" role="alert">
            <div> <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{ form_errors(form.email) }}</div>
        </div>
        {% endif %}
        {{ form_widget(form.email,{ 'attr': {'class': 'form-control','placeholder':'cgarcia@gmail.com'}}) }}
    </div>

    <div class="form-group">
        {{ form_label(form.username,'Nombre de Usuario') }}

        {% if form.username.vars.errors|length>0 %}
            <div class="alert alert-danger" role="alert">
                <div> <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{ form_errors(form.username) }}</div>
            </div>
        {% endif %}
        {{ form_widget(form.username,{ 'attr': {'class': 'form-control','placeholder':'cgarcia'}}) }}
    </div>

    <div class="form-group">
        {{ form_label(form.plainPassword.first,'Contraseña') }}
        {% if form.plainPassword.first.vars.errors|length>0 %}
            <div class="alert alert-danger" role="alert">
                <div> <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{ form_errors(form.plainPassword.first) }}</div>
            </div>
        {% endif %}
        {{ form_widget(form.plainPassword.first,{ 'attr': {'class': 'form-control','placeholder':'**********'}}) }}
    </div>

    <div class="form-group">
        {{ form_label(form.plainPassword.second,'Confirmar Contraseña') }}
        {% if form.plainPassword.second.vars.errors|length>0 %}
            <div class="alert alert-danger" role="alert">
                <div> <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{ form_errors(form.plainPassword.second) }}</div>
            </div>
        {% endif %}
        {{ form_widget(form.plainPassword.second,{ 'attr': {'class': 'form-control','placeholder':'**********'}}) }}
    </div>






    <div class="form-group">
        <input type="submit" class="btn btn-konstruye" value="{{ 'registration.submit'|trans }}" />
    </div>



{{ form_end(form) }}
