{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block title %}
    <title>Konstruye.pe | Login</title>
{% endblock title %}
{% block fos_user_content %}


<div class="container" style="position: relative">

    <div class="frase">
        <h1>¡Estás a un</h1>
        <h1>Paso de encontrar</h1>
        <h1>Lo que buscas!</h1>
    </div>

    <div class="form-login">

        <div class="other-session">
            <h1>Iniciar Sesión con:</h1>
            <div class="fb-button-login" src="http://placehold.it/348x40/435F9B/fff?text=Facebook" onclick="fb_login();">
                <i class="fa fa-facebook" aria-hidden="true"></i>
                Ingresar con <strong>facebook</strong>
            </div>

            <span>No te preocupes, no publicaremos nada en tu red social sin tu permiso.</span>
        </div>

        <hr class="style-eight">



        <form action="{{ path("fos_user_security_check") }}" novalidate method="post">
            {% if error %}
                    <div class="alert alert-danger" role="alert">
                        <div><i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        <span class="sr-only">Error:</span>
                    </div>
            {% endif %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <div class="form-group">
                <label for="username">{{ 'security.login.username'|trans }}</label>
                <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}" required="required" />
            </div>

            <div class="form-group">
                <label for="password">{{ 'security.login.password'|trans }}</label>
                <input type="password" id="password" class="form-control" name="_password" required="required" />
            </div>

            <div class="form-group">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                <a href="">¿Olvidaste la contraseña?</a>
            </div>


            <input type="submit" id="_submit" class="btn btn-konstruye" name="_submit" value="{{ 'security.login.submit'|trans }}" />

        </form>


    </div>
</div>

</div>

{% endblock fos_user_content %}
{% block javascripts %}
    {{ parent() }}
    <script>

        $('body').removeClass('background-image');

        function fb_login() {
            FB.login(function(response){
                FB.getLoginStatus(function(response) {
                    if (response.status === 'connected') {
                        // connected
                        //alert('Already connected, redirect to login page to create token.');
                        document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
                    } else {
                        // not_authorized
                        FB.login(function(response) {
                            if (response.authResponse) {
                                document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
                            } else {
                                //alert('Cancelled.');
                            }
                        }, {scope: 'email'});
                    }
                });

            });

        }
        $("body").addClass("fondo-login");
    </script>
{% endblock javascripts %}