{% extends "FOSUserBundle::Profile/Panel/panel_layout.html.twig" %}

{% block content_section %}


    <h1 class="title-dashboard">Cambiar Datos</h1>

    <div class="col-md-4">
        <h2 class="preview-title">Vista Previa</h2>
        <div class="negocio-box" style="width:275px; margin: 0 auto">
            <a href="javascript:void(0)" style="text-decoration: none">
                <div class="banner" style="filter: grayscale(100%); opacity: .8">
                    {% if negocio.banner is not null %}
                        <img src="{{ vich_uploader_asset(negocio.banner, 'bannerFile','AppBundle\\Entity\\Banner') }}" alt="{{ negocio.nombre }}" />
                    {% else %}
                        <img src="{{ asset('images/tubanner.png') }}" alt="{{ negocio.nombre }}" />
                    {% endif %}



                </div>
                <div class="datos">
                    <div class="middle-section">
                        {% if negocio.logo is not null %}
                            <img style="filter: grayscale(100%); opacity: .8"  width="80px" src="{{ vich_uploader_asset(negocio.logo, 'logoFile','AppBundle\\Entity\\Logo') }}" alt="{{ negocio.nombre }}" />
                        {% else %}
                            <img style="filter: grayscale(100%); opacity: .8" src="http://placehold.it/80x80" alt="{{ negocio.nombre }}" />
                        {% endif %}

                        <div class="rateYo_negocios" data-rating="3"></div>

                    </div>
                    <div class="detalle-datos"  style="outline: dotted 3px #1C9CD9">
                        <a href="javascript:void(0)" style="text-decoration: none">
                            <h1 style="line-height: 25px;font-size: 16px;font-weight: bold;margin: 10px 0">
                                {{ negocio.nombre }}
                            </h1>
                        </a>
                        {% if type is defined %}
                            <p><i class="fa fa-user" aria-hidden="true"></i> Javier Díaz</p>
                            <p><i class="fa fa-location-arrow" aria-hidden="true"></i> {{ negocio.distrito.nombre}} - {{ negocio.provincia.nombre}}</p>
                            {% if negocio.areaTotal is not null %}
                                <p><i class="fa fa-arrows-alt" aria-hidden="true"></i> {{ negocio.areaTotal }} m²</p>
                            {% else %}
                                <p><i class="fa fa-arrows-alt" aria-hidden="true"></i> - m²</p>
                            {% endif %}

                            {% if negocio.dormitorios is not null %}
                                <p><i class="fa fa-bed" aria-hidden="true"></i> {{ negocio.dormitorios}} Dormitorios</p>
                            {% else %}
                                <p><i class="fa fa-bed" aria-hidden="true"></i> - Dormitorios</p>
                            {% endif %}
                            {% if negocio.precioSoles is not null %}
                                <p class="precio-listado">Desde S/.{{ negocio.precioSoles|number_format(2, '.', ',')}}</p>
                            {% else %}
                                <p class="precio-listado">Desde S/.</p>
                            {% endif %}

                        {% else %}
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i> {{ negocio.direccion }} - {{ negocio.distrito.nombre }} - {{ negocio.provincia.nombre }}</p>
                            <p><i class="fa fa-phone" aria-hidden="true"></i> {{ negocio.telefono }}</p>
                            <p><i class="fa fa-globe" aria-hidden="true"></i> {{ negocio.web }}</p>
                            <p><i class="fa fa-envelope" aria-hidden="true"></i> {{ negocio.email }}</p>
                        {% endif %}



                    </div>


                </div>
            </a>
        </div>
    </div>


    <div class="col-md-8 cambiar-datos">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

        <div class="form-group">
            {{ form_label(form.description,'Descripción') }}
            {{ form_errors(form.description) }}
            {{ form_widget(form.description,{ 'attr': {'class': 'form-control','placeholder':'Escriba una descripción de su negocio','rows':10}}) }}
        </div>

        {% if form.vars.value.structure is defined %}
            <div class="form-group">
                {{ form_label(form.structure,'Estructura') }}
                {{ form_errors(form.structure) }}
                {{ form_widget(form.structure,{ 'attr': {'class': 'form-control','placeholder':'cgarcia@gmail.com'}}) }}
            </div>
        {% endif %}
        {% if form.vars.value.operacion is defined %}
        <div class="form-group">
            {{ form_label(form.operacion,'Operación') }}
            {{ form_errors(form.operacion) }}
            {{ form_widget(form.operacion,{ 'attr': {'class': 'form-control','placeholder':'cgarcia@gmail.com'}}) }}
        </div>
        {% endif %}
        {% if form.vars.value.precioSoles is defined %}
        <div class="form-group">
            {{ form_label(form.precioSoles,'Precio Soles') }}
            {{ form_errors(form.precioSoles) }}
            {{ form_widget(form.precioSoles,{ 'attr': {'class': 'form-control','placeholder':'cgarcia@gmail.com'}}) }}
        </div>
        {% endif %}


        <div class="form-group">
            {{ form_label(form.nombre,'Nombre') }}
            {{ form_errors(form.nombre) }}
            {{ form_widget(form.nombre,{ 'attr': {'class': 'form-control','placeholder':'cgarcia@gmail.com'}}) }}
        </div>
         {% if form.vars.value.constructora is defined %}
        <div class="form-group">
            {{ form_label(form.constructora,'Constructora') }}
            {{ form_errors(form.constructora) }}
            {{ form_widget(form.constructora,{ 'attr': {'class': 'form-control'}}) }}
        </div>
         {% endif %}
        <div class="form-group">
            {{ form_label(form.direccion,'Dirección') }}
            {{ form_errors(form.direccion) }}
            {{ form_widget(form.direccion,{ 'attr': {'class': 'form-control','placeholder':'cgarcia@gmail.com'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.telefono,'Teléfono') }}
            {{ form_errors(form.telefono) }}
            {{ form_widget(form.telefono,{ 'attr': {'class': 'form-control','placeholder':'cgarcia@gmail.com'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.email,'Email') }}
            {{ form_errors(form.email) }}
            {{ form_widget(form.email,{ 'attr': {'class': 'form-control','placeholder':'cgarcia@gmail.com'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.web,'Web') }}
            {{ form_errors(form.web) }}
            {{ form_widget(form.web,{ 'attr': {'class': 'form-control','placeholder':'cgarcia@gmail.com'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.departamento,'Departamento') }}
            {{ form_errors(form.departamento) }}
            {{ form_widget(form.departamento,{ 'attr': {'class': 'form-control','placeholder':'cgarcia@gmail.com'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.provincia,'Provincia') }}
            {{ form_errors(form.provincia) }}
            {{ form_widget(form.provincia,{ 'attr': {'class': 'form-control','placeholder':'cgarcia@gmail.com'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.distrito,'Distrito') }}
            {{ form_errors(form.distrito) }}
            {{ form_widget(form.distrito,{ 'attr': {'class': 'form-control','placeholder':'cgarcia@gmail.com'}}) }}
        </div>

        <div class="form-group">
            {{ form_widget(form.submit,{ 'attr': {'class': 'btn btn-konstruye2'},'label': 'Guardar'}) }}
        </div>

        {{ form_end(form) }}

    </div>


{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        $("#inmueble_departamento").change(function(){
            var data = {
                departamento_id: $(this).val()
            };

            $.ajax({
                type: 'post',
                url: '{{ path("select_provinces") }}',
                data: data,
                success: function(data) {
                    var $provincia_selector = $('#inmueble_provincia');

                    $provincia_selector.html('<option>Provincia</option>');

                    for (var i=0, total = data.length; i < total; i++) {
                        $provincia_selector.append('<option value="' + data[i].id + '">' + data[i].nombre + '</option>');
                    }
                }
            });
        });
        $("#inmueble_provincia").change(function(){
            var data = {
                provincia_id: $(this).val()
            };

            $.ajax({
                type: 'post',
                url: '{{ path("select_cities") }}',
                data: data,
                success: function(data) {
                    var $distrito_selector = $('#inmueble_distrito');

                    $distrito_selector.html('<option>Distrito</option>');

                    for (var i=0, total = data.length; i < total; i++) {
                        $distrito_selector.append('<option value="' + data[i].id + '">' + data[i].nombre + '</option>');
                    }
                }
            });
        });

    </script>

{% endblock javascripts %}

