{% extends "FOSUserBundle::Profile/Panel/panel_layout.html.twig" %}

{% block content_section %}

    <h1 class="title-dashboard">Proyectos de <span>{{ negocio.nombre }}</span></h1>

    {% for n in inmuebles %}

        <div class="col-md-3" style="padding: 0 20px">

            <a class="editar" href="{{ path('profile_negocios_panel_gestion_negocio_edit_inmueble',{'id':n.id}) }}"><i class="fa fa-pencil-square" aria-hidden="true"></i> Editar</a>
            <a class="eliminar" onclick="return confirm('¿Estas seguro de eliminar este Inmueble?');" href="{{ path('profile_negocios_panel_gestion_negocio_delete_inmueble',{'id':n.id}) }}"><i class="fa fa-trash" aria-hidden="true"></i> Eliminar</a>

            <div class="listado-inmuebles">
                <div class="banner" style="filter:grayscale(100%)">
                    {% if n.banner is not null %}
                        <img src="{{ vich_uploader_asset(n.banner, 'bannerFile','AppBundle\\Entity\\Banner') }}" alt="{{ n.nombre }}" />
                    {% else %}
                        <img src="http://placehold.it/350x150" alt="{{ n.nombre }}" />
                    {% endif %}
                </div>
                <h1 class="inmueble-title">
                    {{ n.nombre }}
                </h1>
            </div>
        </div>

    {% endfor %}










{% endblock %}