{% extends "FOSUserBundle::Profile/Panel/panel_layout.html.twig" %}

{% block content_section %}

    <div class="inmuebles" style="padding: 40px 0">
        <div class="row">
            {% for n in inmuebles %}

                <div class="col-md-4">

                    <div class="negocio-box" style="margin: 0 auto; width: 275px;height: 435px">

                        <a class="editar" href="{{ path('profile_negocios_panel_gestion_negocio_edit_inmueble',{'id':n.id}) }}"><i class="fa fa-pencil-square" aria-hidden="true"></i> Editar</a>
                        <a class="eliminar" onclick="return confirm('¿Estas seguro de eliminar este Inmueble?');" href="{{ path('profile_negocios_panel_gestion_negocio_delete_inmueble',{'id':n.id}) }}"><i class="fa fa-trash" aria-hidden="true"></i> Eliminar</a>


                        <a href="javascript:void(0)">
                            <div class="banner">
                                {% if n.banner is not null %}
                                    <img src="{{ vich_uploader_asset(n.negocio.banner, 'bannerFile','AppBundle\\Entity\\Banner') }}" alt="{{ n.negocio.nombre }}" />
                                {% else %}
                                    <img src="http://placehold.it/350x150" alt="{{ n.nombre }}" />
                                {% endif %}
                            </div>
                            <div class="datos">
                                <div class="middle-section">
                                    {% if n.logo is not null %}
                                        <img width="80px" src="{{ vich_uploader_asset(n.negocio.logo, 'logoFile','AppBundle\\Entity\\Logo') }}" alt="{{ n.negocio.nombre }}" />
                                    {% else %}
                                        <img src="http://placehold.it/80x80" alt="{{ n.nombre }}" />
                                    {% endif %}


                                </div>
                                <div class="detalle-datos">
                                    <a href="javascript:void(0)" style="text-decoration: none">
                                        <h1 style="line-height: 25px;font-size: 16px;font-weight: bold;margin: 10px 0">
                                            {{ n.nombre }}
                                        </h1>
                                    </a>

                                    <p><i class="fa fa-user" aria-hidden="true"></i> Javier Díaz</p>
                                    <p><i class="fa fa-location-arrow" aria-hidden="true"></i> {{ n.distrito.nombre}} - {{ n.provincia.nombre}}</p>
                                    {% if n.areaTotal is not null %}
                                        <p><i class="fa fa-arrows-alt" aria-hidden="true"></i> {{ n.areaTotal }} m²</p>
                                    {% else %}
                                        <p><i class="fa fa-arrows-alt" aria-hidden="true"></i> - m²</p>
                                    {% endif %}

                                    {% if n.dormitorios is not null %}
                                        <p><i class="fa fa-bed" aria-hidden="true"></i> {{ n.dormitorios}} Dormitorios</p>
                                    {% else %}
                                        <p><i class="fa fa-bed" aria-hidden="true"></i> - Dormitorios</p>
                                    {% endif %}
                                    {% if n.precioSoles is not null %}
                                        <p class="precio-listado" style="width: auto;bottom: -9px;">Desde S/.{{ n.precioSoles|number_format(2, '.', ',')}}</p>
                                    {% else %}
                                        <p class="precio-listado" style="width: auto;bottom: -9px;">Desde S/.</p>
                                    {% endif %}



                                </div>


                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>








{% endblock %}