<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="format-detection" content="telephone=no">
        <title>{% block title %}Bienvenido al Panel{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/bootstrap-select.min.css') }}">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
            <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,800italic,800,700italic,700,600italic,600' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href="{{ asset('css/styles_javier.css') }}">
        {% endblock %}
    </head>
    <body>
        {% block top_section %}
            <div class="container-fluid top-seccion">
                <div class="row">
                    <div class="header-logo">
                        <h1>C</h1>
                        <img src="{{ asset('images/logo-min-white.svg') }}" alt=""/>
                    </div>
                    <div class="header-left-select-negocio">
                        <p>Seleccione un Negocio: </p>
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                        {{ include('FOSUserBundle::Profile/Panel/Menu/select_negocio.html.twig')}}
                    </div>
                    <div class="header-right-user">
                        <a href="">
                            {% if negocio.user.profile is not null %}
                                <img width="40px" src="{{ vich_uploader_asset(negocio.user.profile, 'profileFile') }}" alt=""/>
                            {% else %}
                                <img width="40px" src="{{ asset('images/assets/user_icon.svg') }}" alt="">
                            {% endif %}

                            <i class="fa fa-chevron-down" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>

            </div>
        {% endblock %}

        {% block left_section %}
            {#{{  render(controller('AppBundle:Panel:menuAllowed')) }}#}
            <div class="left-menu">

                <div class="welcome">
                    <div class="user-welcome">
                        {% if negocio.user.profile is not null %}
                            <img width="50px" src="{{ vich_uploader_asset(negocio.user.profile, 'profileFile') }}" alt=""/>
                        {% else %}
                            <img width="50px" src="{{ asset('images/assets/user_icon.svg') }}" alt="">
                        {% endif %}
                        <div class="title">
                            <h2>Bienvenido de nuevo,</h2>
                            <h3>{{ negocio.user.nombres }} {{ negocio.user.apellidos }}</h3>
                        </div>



                    </div>


                </div>

                <div class="menu-dashboard-principal">
                    {% set menuItem = knp_menu_get('AppBundle:Builder:menuPanelNegocio', [], {'negocio_id':negocio.id}) %}
                    {{ knp_menu_render(menuItem) }}
                </div>


            </div>

        {% endblock %}

        <div class="content-dashboard">
            {% block content_section %}

            {% endblock %}
        </div>


        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('js/jquery-1.11.0.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/jquery-ui.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
            <script>


                var  url = '{{ path('profile_negocios_panel') }}/'


                $("#select-negocio").change(function()
                {
                    document.location.href =  url+$(this).val();

                });



            </script>
        {% endblock %}
    </body>

</html>