{% extends "FOSUserBundle::Profile/Panel/panel_layout.html.twig" %}
{% block content_section %}

    <h1 class="title-dashboard">Ordenar Fotos</h1>

    <div class="col-md-8 col-md-offset-2">
        <div class="recomendacion">
            <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
            <div class="pright">
                <ul>
                    <li>Drag & Drop - Arrastre y suelte para ordenar las fotos automáticamente</li>
                </ul>
            </div>
        </div>

        <ul id="grid">
            {% for f in fotos %}
                <li  id="{{"foto_"~ f.id }}" data-insp="{{ f.id }}" class="ui-state-default" style="height: 230px;overflow: hidden;cursor: pointer">
                    <img src="{{ vich_uploader_asset(f, 'imgFile') }}" alt=""/>
                </li>
            {% endfor %}
        </ul>

    </div>







{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>

            $( "#grid" ).sortable({
            update: function( event, ui ) {
                //var id = $(ui.item).attr('data-insp');
                //alert("New position: " + ui.item.index());
                var sorted = $( "#grid" ).sortable( "serialize" );
                $.ajax({
                    type: "POST",
                    url: '{{ path("profile_negocios_panel_gestion_negocio_sort") }}',
                    data: {
                        sort:sorted,
                        what:"Foto"
                        //sort: ui.item.index(),
                        //id_inspiracion: $(ui.item).attr('data-insp')

                    },
                    //data:sorted,
                    dataType: "json",
                    success: function(response) {
                        //console.log(response.sort);
                        //$(ui.item).children('span').text(response.sort);
                    }
                });
            }
        });
        $( "#grid" ).disableSelection();


    </script>
{% endblock javascripts %}