<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/bootstrap-select.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/jquery-ui.css') }}">
            <link rel="stylesheet" href="{{ asset('css/main.css') }}">
            <link rel="stylesheet" href="{{ asset('css/animate.css') }}">
            <link rel="stylesheet" href="{{ asset('css/croppic.css') }}">
            {#Font-awesome CDN#}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
            <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
            <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,800italic,800,700italic,700,600italic,600' rel='stylesheet' type='text/css'>        {% endblock %}
        {% block title %}

        {% endblock title %}
        <style>
            #cropContainerMinimal {
                width: 150px;
                height: 150px;
                position:relative; /* or fixed or absolute */
            }
            .white-popup-block {
                background: #FFF;
                padding: 20px 30px;
                text-align: left;
                max-width: 650px;
                margin: 40px auto;
                position: relative;
            }
        </style>

    </head>


    <body>





        <div id="wrap">
            <nav  class="navbar navbar-default nav-principal">
                <div class="container">
                    <div class="navbar-header">

                        <button id="menu-brand" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <button id="search-brand" type="button" class="navbar-toggle collapsed">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>

                        <a class="navbar-brand logo_prin" href="#"><img width="200" alt="Brand" src="{{ asset('images/logo2.png') }}"></a>
                        <a class="navbar-brand logo_resp" href="#"><img alt="Brand" src="{{ asset('images/logo_responsive.png') }}"></a>

                    </div>

                    <div class="collapse navbar-collapse menu-principal" id="bs-example-navbar-collapse-1">
                        {% set menuItem = knp_menu_get('AppBundle:Builder:mainMenu', [], {'nav': true}) %}
                        {{ knp_menu_render(menuItem) }}
                        <ul class="nav navbar-nav navbar-right">

                            <li>
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    <div class="dropdown">
                                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            {% if app.user.profile is not null %}
                                                <img class="img-circle" width="50px" src="{{ vich_uploader_asset(app.user.profile, 'profileFile') }}" alt="">
                                            {% else %}
                                                <img class="img-circle" width="50px" src="{{ asset('images/assets/perfil_icon.png') }}" alt="">
                                            {% endif %}
                                            <span class="caret" id="caret">{{app.user.nombres}}</span>
                                        </button>
                                        <ul class="dropdown-menu drop-menu" aria-labelledby="dropdownMenu1">
                                            <a href=""><i class="fa fa-briefcase" aria-hidden="true"></i> Panel de Negocios</a>
                                            <a href="{{ path('fos_user_profile_show') }}"><i class="fa fa-user" aria-hidden="true"></i> Mi Perfil</a>
                                            <a href="{{ path('fos_user_security_logout') }}">
                                                <i class="fa fa-sign-out" aria-hidden="true"></i> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                            </a>

                                        </ul>
                                    </div>


                                {% else %}
                                    <a id="registro" href="{{ path('fos_user_registration_register') }}">Registrarse</a>
                                    <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>

                                {% endif %}
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->


                </div>
            </nav>

            <nav  class="navbar navbar-default nav-principal2">
                <div class="container menu-principal2">
                    <a class="navbar-brand" href="#">
                        <img alt="Brand" src="{{ asset('images/logo_stiky.png') }}">
                    </a>

                    <div class="menu-stiky">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categorias <span class="caret"></span></button>

                        {% set menuItem = knp_menu_get('AppBundle:Builder:mainMenu', [], {'nav': false}) %}
                        {{ knp_menu_render(menuItem) }}
                    </div>

                    <div id="search-cop2" class="buscador-stiky">
                        <div class="search-change2">
                            <div id="hide3"><i class="fa fa-briefcase" aria-hidden="true"></i></div>
                            <div id="hide4"><i class="fa fa-shopping-bag" aria-hidden="true"></i></div>
                        </div>


                        <form id="s4" data-buscar-url="{{ path('buscar_negocios_by_seccion_null') }}" action="{{ path('search_global_negocios') }}" class="s1 navbar-form navbar-left buscador_principal2" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Buscar Negocios">
                            </div>
                            <select class="selectpicker">
                                <option value="">Selecciona una Categoria</option>
                                <option value="constructoras-e-inmobiliarias">Constructoras e Inmobiliarias</option>
                                <option value="especialistas-servicios-personales">Especialistas y Servicios Personales</option>
                                <option value="proveedores">Proveedores</option>
                            </select>
                        </form>

                        <form id="s3" data-buscar-url="{{ path('buscar_productos') }}"  action="{{ path('search_global_productos') }}" class="s2 navbar-form navbar-left buscador_principal2" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Buscar Productos">
                            </div>
                            <select class="selectpicker">
                                <option selected value="proveedores">Proveedores</option>

                            </select>
                        </form>
                    </div>

                    <ul class="logi-reg" >
                        <li>
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        {% if app.user.profile is not null %}
                                            <img class="img-circle" width="50px" src="{{ vich_uploader_asset(app.user.profile, 'profileFile') }}" alt="">
                                        {% else %}
                                            <img class="img-circle" width="50px" src="{{ asset('images/assets/perfil_icon.png') }}" alt="">
                                        {% endif %}
                                        <span class="caret" id="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu drop-menu" aria-labelledby="dropdownMenu2">
                                        <a href=""><i class="fa fa-briefcase" aria-hidden="true"></i> Panel de Negocios</a>
                                        <a href="{{ path('fos_user_profile_show')}}"><i class="fa fa-user" aria-hidden="true"></i> Mi Perfil</a>
                                        <a href="{{ path('fos_user_security_logout') }}">
                                            <i class="fa fa-sign-out" aria-hidden="true"></i> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                        </a>

                                    </ul>
                                </div>
                            {% else %}
                                <a id="registro" href="">Registrarse</a>
                                <span>|</span>
                                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>

                            {% endif %}
                        </li>
                    </ul>
                </div>
            </nav>


            <div class="content-inside">
                {% block fos_user_content %}
                {% endblock fos_user_content %}
            </div>

        </div>

        {% block footer %}
            <footer class="container-fluid footer-menu">

                        <div class="menu-footer">
                            {{ knp_menu_render('AppBundle:Builder:footerMenu') }}
                        </div>

                        <div class="col-md-2 col-md-offset-5 socials">
                            <span class="fa-stack fa-lg">
                          <i id="one" class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-facebook fa-stack-1x fa-inverse" style="color: #1C9CD9"></i>
                        </span>
                        <span class="fa-stack fa-lg">
                          <i id="two" class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-twitter fa-stack-1x fa-inverse" style="color: #1C9CD9"></i>
                        </span>
                        <span class="fa-stack fa-lg">
                          <i id="three" class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-youtube-play fa-stack-1x fa-inverse" style="color: #1C9CD9"></i>
                        </span>
                        </div>
                        <div class="col-md-6 col-md-offset-3 gecko-firm">
                            <p class="gecko-firm">Todos los Derechos Reservados &copy | Powered by <a href="http://www.gecko-btl.com">Gecko BTL</a></p>

                        </div>
            </footer>
        {% endblock %}



        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('js/jquery-1.11.0.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/jquery-ui.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/bootstrap-select.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/croppic.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/jquery.magnific-popup.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
            {#Noty#}
            <script src="{{ asset('js/jquery.noty.packaged.min.js') }}" type="text/javascript"></script>
            {#Defaut Noty - ESTO ESTUVO OCASIONANDO ERROR#}
            {#<script src="{{ asset('js/default_noty.js') }}" type="text/javascript"></script>#}
            <script src="{{ asset('js/default.js') }}" type="text/javascript"></script>
            <script>

                function monkeyPatchAutocomplete() {

                    // Don't really need to save the old fn,
                    // but I could chain if I wanted to
                    var oldFn = $.ui.autocomplete.prototype._renderItem;

                    $.ui.autocomplete.prototype._renderItem = function( ul, item) {
                        var re = new RegExp("^" + this.term, "i") ;
                        var t = item.label.replace(re,"<span style='font-weight:bold;color:#009FE3'>" + this.term + "</span>");
                        return $( "<li></li>" )
                                .data( "item.autocomplete", item )
                                .append( "<a>" + t + "</a>" )
                                .appendTo( ul );
                    };
                }
                monkeyPatchAutocomplete();
                var s1_found_data = false;
                $( ".s1 input" ).autocomplete({
                    source: function( request, response ) {
                        var seccion = $(".s1 .selectpicker").val();
                        if(seccion==""){
                            noty({
                                text: '¡Escoja una categoria primero!',
                                animation: {
                                    open: 'animated bounceInLeft', // Animate.css class names
                                    close: 'animated bounceOutRight', // Animate.css class names
                                    easing: 'swing', // easing
                                    speed: 800 // opening & closing animation speed
                                },
                                theme:'defaultTheme',
                                'layout':'bottomCenter',
                                type: 'error',
                                timeout:5000
                            });
                        }
                        var url = $(".s1").attr('data-buscar-url');
                        s1_found_data = false;
                        $.ajax( {
                            url: url+seccion,
                            //dataType: "jsonp",
                            data: {
                                q: request.term
                            },
                            success: function( data ) {
                                //console.log(data);
                                // Handle 'no match' indicated by [ "" ] response
                                response( data.length === 0 ? ['Ningun resultado encontrado'] : data );
                                if(data.length>0) s1_found_data = true;
                            }
                        } );
                    },
                    minLength: 1,
                    select: function( event, ui ) {
                        if(!s1_found_data) return false;

                        $( ".s1 input").attr('value',ui.item.label);
                        var url = $('.s1').attr('action');
                        var search = ui.item.label;
                        window.open(url+'/'+search,'_self',false);
                        //$('#s2').submit();
                        //alert(ui.item.label);
                        //log( "Selected: " + ui.item.label );
                    }
                });

                var s2_found_data = false;
                $( ".s2 input" ).autocomplete({
                    source: function( request, response ) {
                        var url = $(".s2").attr('data-buscar-url');
                        s2_found_data = false;
                        $.ajax( {
                            url: url,
                            //dataType: "jsonp",
                            data: {
                                q: request.term
                            },
                            success: function( data ) {
                                // Handle 'no match' indicated by [ "" ] response
                                response( data.length === 0 ? ['Ningun resultado encontrado'] : data );
                                if(data.length>0) s2_found_data = true;
                                //response( data.length === 1 && data[ 0 ].length === 0 ? ['Ningun resultado encontrado'] : data );
                            }
                        } );
                    },
                    minLength: 1,
                    select: function( event, ui ) {
                        if(!s2_found_data) return false;
                        $( ".s2 input").attr('value',ui.item.label);
                        var url = $('.s2').attr('action');
                        var search = ui.item.label;
                        window.open(url+'/'+search,'_self',false);
                        //$('#s2').submit();
                        //alert(ui.item.label);
                        //log( "Selected: " + ui.item.label );
                    }
                } );


                $('.selectpicker').selectpicker({
                    style: 'btn btn-default',
                    size: 4
                });

                $("#hide1").addClass("active");

                $("#hide1").click(function(){
                    $("#hide2").removeClass("active");
                    $("#hide1").addClass("active");
                    $("#s2").hide();
                    $("#s1").show();
                });
                $("#hide2").click(function(){
                    $("#hide1").removeClass("active");
                    $("#hide2").addClass("active");
                    $("#s1").hide();
                    $("#s2").show();
                });

                $("#hide3").addClass("active");

                $("#hide3").click(function(){
                    $("#hide4").removeClass("active");
                    $("#hide3").addClass("active");
                    $("#s3").hide();
                    $("#s4").show();
                });
                $("#hide4").click(function(){
                    $("#hide3").removeClass("active")
                    $("#hide4").addClass("active");
                    $("#s4").hide();
                    $("#s3").show();
                });


                $("#search-brand").click(function(){
                    $("#search-cop").slideToggle();
                    $("#bs-example-navbar-collapse-1").slideUp();
                });

                $("#menu-brand").click(function(){
                    event.preventDefault();
                    $("#search-cop").slideUp();
                    $("#bs-example-navbar-collapse-1").slideToggle();
                });

                $(".menu-stiky ul").addClass("dropdown-menu")



                $(window).bind('scroll', function () {
                    if ($(window).scrollTop() > 200) {
                        $('.nav-principal2').fadeIn("slow");
                        $('.nav-principal2').addClass("navbar-fixed-top");
                    } else {
                        $('.nav-principal2').fadeOut("slow");
                    }
                });

                var dev = "/app_dev.php";
                var cropperOptions = {
                    uploadUrl:dev+'/profile/image-processing',
                    cropUrl:dev+'/profile/image-crop',
                    //uploadUrl:'/profile/image-processing',
                    //cropUrl:'/profile/image-crop',
                    modal:false,
                    zoomFactor:0,
                    doubleZoomControls:false,
                    rotateControls: false,
                    loaderHtml:'<div class="loader bubblingG"><span id="bubblingG_1"></span><span id="bubblingG_2"></span><span id="bubblingG_3"></span></div> ',
                    onBeforeImgUpload: function(){  },
                    onAfterImgUpload: function(){  },
                    onImgDrag: function(){  },
                    onImgZoom: function(){  },
                    onBeforeImgCrop: function(){  },
                    onAfterImgCrop:function(data){
                        noty({
                            text: data.message,
                            'layout':'bottom',
                            type:'theevent',
                            timeout:2000});
                        setTimeout(function(){
                            window.location.href = data.targetUrl;
                        }, 3000);
                        var n = noty({
                            theme: 'default_noty',
                        });
                    },
                    onReset:function(){  },
                    onError:function(errormessage){ }
                }

                var cropperHeader = new Croppic('cropContainerMinimal', cropperOptions);

                $('.popup-modal').magnificPopup({
                    type: 'inline',
                    preloader: false,
                    //modal: true
                });

            </script>

        {% endblock javascripts %}

    </body>


</html>
