<div class="col-md-4">

    <div class="negocio-box">
        <a href="{{ path('show_negocio',
        {"slug_negocio":n.negocio.slug}) }}">
            <div class="banner">
                {% if n.negocio.banner is not null %}
                    <img src="{{ vich_uploader_asset(n.negocio.banner, 'bannerFile','AppBundle\\Entity\\Banner') }}" alt="{{ n.negocio.nombre }}" />
                {% else %}
                    <img src="http://placehold.it/350x150" alt="{{ n.negocio.nombre }}" />
                {% endif %}
            </div>
            <div class="datos">
                <div class="middle-section">
                    {% if n.negocio.logo is not null %}
                        <img width="80px" src="{{ vich_uploader_asset(n.negocio.logo, 'logoFile','AppBundle\\Entity\\Logo') }}" alt="{{ n.negocio.nombre }}" />
                    {% else %}
                        <img src="http://placehold.it/80x80" alt="{{ n.negocio.nombre }}" />
                    {% endif %}

                    {% if n.mymoy is null %}
                        <div class="rateYo_negocios" data-rating="0"></div>
                    {% else %}
                        <div class="rateYo_negocios" data-rating="{{ n.mymoy }}"></div>
                    {% endif %}
                </div>
                <div class="detalle-datos">
                    <a href="{{ path('show_negocio',
                    {"slug_negocio":n.negocio.slug}) }}">
                        <h1 style="line-height: 25px;">
                            {{ n.negocio.nombre }}
                        </h1>
                    </a>
                    {% if type is defined %}
                        <p><i class="fa fa-user" aria-hidden="true"></i> Javier Díaz</p>
                        <p><i class="fa fa-location-arrow" aria-hidden="true"></i> {{ n.negocio.distrito.nombre}} - {{ n.negocio.provincia.nombre}}</p>
                        {% if n.negocio.areaTotal is not null %}
                            <p><i class="fa fa-arrows-alt" aria-hidden="true"></i> {{ n.negocio.areaTotal }} m²</p>
                        {% else %}
                            <p><i class="fa fa-arrows-alt" aria-hidden="true"></i> - m²</p>
                        {% endif %}

                        {% if n.negocio.dormitorios is not null %}
                            <p><i class="fa fa-bed" aria-hidden="true"></i> {{ n.negocio.dormitorios}} Dormitorios</p>
                        {% else %}
                            <p><i class="fa fa-bed" aria-hidden="true"></i> - Dormitorios</p>
                        {% endif %}
                        {% if n.negocio.precioSoles is not null %}
                            <p class="precio-listado">Desde S/.{{ n.negocio.precioSoles|number_format(2, '.', ',')}}</p>
                        {% else %}
                            <p class="precio-listado">Desde S/.</p>
                        {% endif %}

                    {% else %}
                        <p><i class="fa fa-map-marker" aria-hidden="true"></i> {{ n.negocio.direccion | truncate(30,false) }} - {{ n.negocio.distrito.nombre }} - {{ n.negocio.provincia.nombre }}</p>
                        <p><i class="fa fa-phone" aria-hidden="true"></i> {{ n.negocio.telefono }}</p>
                        <p><i class="fa fa-globe" aria-hidden="true"></i> {{ n.negocio.web }}</p>
                        <p><i class="fa fa-envelope" aria-hidden="true"></i> {{ n.negocio.email }}</p>
                    {% endif %}



                </div>


            </div>
        </a>
    </div>
</div>




{#
<div class="row">
    <div class="negocio">
        <div class="col-md-2 logotipo">
            <a href="{{ path('show_negocio',
            {"slug_negocio":n.negocio.slug}) }}">
                <img src="{{ vich_uploader_asset(n.negocio.logo, 'logoFile','AppBundle\\Entity\\Logo') }}" alt="{{ n.negocio.nombre }}" />
            </a>
        </div>
        <div class="col-md-5 description">
            <h1><a href="{{ path('show_negocio',
                {"slug_negocio":n.negocio.slug}) }}">{{ n.negocio.nombre }}</a></h1>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i> {{ n.negocio.direccion }} - {{ n.negocio.distrito.nombre }} - {{ n.negocio.provincia.nombre }}</p>
            <p><i class="fa fa-phone" aria-hidden="true"></i> {{ n.negocio.telefono }}</p>
            <p><i class="fa fa-globe" aria-hidden="true"></i> {{ n.negocio.web }}</p>
            <p><i class="fa fa-envelope" aria-hidden="true"></i> {{ n.negocio.email }}</p>
            <p>
                {% if n.mymoy is null %}
            <div class="rateYo_negocios" data-rating="0"></div>
            {% else %}
                <div class="rateYo_negocios" data-rating="{{ n.mymoy }}"></div>
            {% endif %}
            </p>
        </div>
        <div class="col-md-5 banner_pub">
            <a href="{{ path('show_negocio',
            {"slug_negocio":n.negocio.slug}) }}">
                <img src="{{ vich_uploader_asset(n.negocio.banner, 'bannerFile','AppBundle\\Entity\\Banner') }}" alt="{{ n.negocio.nombre }}" />
            </a>
        </div>
    </div>
</div>
#}

